<div class="new-project-multi">
    <div class="request-btn">
        <%= link_to "New Project Request",
          new_project_project_info_path,
          class: "plausible-event-name=New+Project+Request",
          id: "new-project-request-wizard-button",
          tabindex: 0 %>
    </div>
    <div class="request-options">
        <button popovertarget="request-dropdown" class="down-arrow" aria-label="view draft and saved requests" title="view draft and saved requests"></button>
        <div popover="auto" id="request-dropdown" class="request-dropdown">
          <button class="request-button" popovertarget="draft-request-list" onclick="log_plausible_saved_draft_requests()">Saved Draft Requests</button>
          <button class="request-button" popovertarget="submitted-request-list" onclick="log_plausible_view_submitted_requests()">Submitted Requests</button>
        </div>

        <!-- draft requests popup -->
        <div popover="auto" id="draft-request-list" class=request-list pul-popover">
          <div class="modal-content">
            <div class="draft-list-header">
              <div class="model-title">Saved Draft Requests</div>
              <input type=button popovertarget="draft-request-list" popovertargetaction="hide" class="pul-popover-close" data="cancel"></input>
            </div>
            <div class="draft-content">
              <div class="draft-list">
                <% @presenter.my_draft_requests.each do | request_model| %>
                  <%= render partial: 'draft_request', locals: {review_path: request_model.review_path, project_title: request_model.safe_project_title } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- submitted requests popup -->
        <div popover="auto" id="submitted-request-list" class="request-list pul-popover">
          <div class="modal-content">
            <div class="draft-list-header">
              <div class="model-title">Submitted Requests</div>
              <input type=button popovertarget="submitted-request-list" popovertargetaction="hide" class="pul-popover-close" data="cancel"></input>
            </div>
            <div class="draft-content">
              <div class="draft-list">
                <% @presenter.my_submitted_requests.each do | request_model| %>
                  <div class="draft-request">
                      <div class="request-name"><%= request_model.safe_project_title %></div>
                      <div class="request-actions">
                        <a href="<%= request_path(request_model.id)%>" class="request-open" focus="true" tabindex="0" aria-label="<%= request_model.safe_project_title %> Open">
                          <div>Open</div>
                        </a>
                      </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

    </div>
</div>