<tr class="project" >
    <td class="project-row">
        <div class="project-details">
            <div class="title">
                <a class="click-row" href="<%= project_path(project.id) %>" tabindex="0" ><%= project.title %></a>
            </div>
            <div class="summary">
                <span class="data-sponsor"><b>Data Sponsor:</b> <%= project.data_sponsor.display_name_only_safe %></span>
                <span class="netid-large"><%= project.data_sponsor.uid %></span>
                |
                <span class="data-manager"><b>Data Manager:</b> <%= project.data_manager.display_name_only_safe %></span>
                <span class="netid-large"><%= project.data_manager.uid %></span>
            </div>
            <div class="summary">
                <div class="path"> <%= project.path %></div>
                <button id="copy-project-path-button" class="btn copy-paste-button-sizer copy-project-path-icon" data-url="<%= project.path %>" title="Copy project path to the clipboard">
                <div class="pul-copy-paste-tooltip">
                  <span id="copy-project-path-label" class="copy-project-path-label-normal pul-copy-paste-tooltiptext">Copy</span>
                </div>
                </button>
            </div>
            <div class="summary">
               <div class="status <%= project.status.downcase %>"><%= project.status %></div>

                <% if Flipflop.project_type_indicator? %>
                    <div class="type"><%= project.type %></div>
                <% end %>

               <div class="role"><%= project.role(current_user) %></div>
               <div class="download"><%= project.latest_file_list_time %></div>

                <% if Flipflop.last_updated_dashboard? %>
                    <div class="activity"><%= project.last_activity %></div>
                <% end %>

              </div></div>

        <div class="storage-details">
          <div class="storage">
            <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-orange w3-round-xlarge" style="height:6px;width:<%= project.quota_percentage(session_id: current_user.mediaflux_session, dashboard: true) %>%"></div>
            </div>
            <div class="usage"> <%= project.quota_usage(session_id: current_user.mediaflux_session) %></div>
          </div>
        </div>
    </td>
    <!-- table columns being kept, but not shown for DataTables sorting and search -->
    <td style="display: none"><%= project.title %></td>
    <td style="display: none"><%= project.status %></td>
    <td style="display: none"><%= project.type %></td>
    <td style="display: none"><%= project.role(current_user) %></td>
    <td style="display: none"><%= project.latest_file_list_time %></td>
    <td style="display: none"><%= project.last_activity %></td>
    <td style="display: none"><%= project.quota_usage(session_id: current_user.mediaflux_session) %></td>
</tr>
