<div id="welcome">
   <div class="main-content">
      <div class="welcome-pane">
         <h1>Welcome, <%= current_user.given_name %>!</h1>
          <% if current_user.eligible_sysadmin? || Flipflop.allow_all_users_wizard_access? %>
            <%= render partial: "new_project_request_wizard_link" %>
         <% end %>
      </div>

      <div class="dashboard-admin-buttons">
         <% if current_user.eligible_sysadmin? %>
         
         <%= link_to "Requests", requests_path(), class: "btn btn-dark btn-sm", id: "requests-listing-button" %>
         <% end %>
      </div>

      <div class="detail-pane">
         <div class="main">
            <div id="dashboard-nav">
               <button id="dash-projects" class="tab-nav"> Projects </button>
               <% if current_user.eligible_sysadmin? %>
               <button id="dash-admin" class="tab-nav"> Administration </button>
               <% elsif current_user.trainer? %>
               <% if session[:emulation_role] == "System Administrator" %>
               <button id="dash-admin" class="tab-nav"> Administration </button>
               <% end %>
               <% end %>
            </div>
            <% if @dash_session == "project"%>
              <%= render partial: "projects_listing", locals: { projects: @presenter.dashboard_projects,  table_id: "projects-listing" } %>
            <% elsif @dash_session == "admin" %>
              <%= render partial: "admin_listing" %>
            <% end %>
         </div>
         <div class="sidebar">
            <div class="downloads">
               <div class="header">
                  <div><i class="bi bi-download"></i> Latest Downloads</div>
               </div>
               <div class="contents-window">
                  <div class="details">
                     <div class="content">
                        <div class="container1">
                           <div class="container2">
                              <div class="container3">
                                 <% if current_user.latest_downloads.count == 0 %>
                                 <div class="download-item">No downloads available</div>
                                 <% else %>
                                 <%= render partial: "download_item", collection: current_user.latest_downloads, as: "download" %>
                                 <% end %>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="module">
   // Make the AJAX call for version information explicitly on this page
   // (and for now only on this page) so that we don't make extra calls
   // to Mediaflux for every page loaded.
   dashStyle('<%= @dash_session %>');
   dashTab();
   displayMediafluxVersion('<%= mediaflux_info_index_path(format: "json") %>', <%= !current_user.nil? %>);

   // Setup the DataTables
   setupTable('#projects-listing');
   setupTable('#projects-listing-approved');
</script>