<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <style>
    dt {
      font-weight: bold;
    }

    dt::after {
      content: ":";
    }
  </style>
  <body>
    <h1>Tigerdata Proect Request</h1>

    <section>
      <p>A Project was requested by <%= @project.created_by_user.display_name %> (<%= @project.created_by_user.uid %>)
        <a href="mailto:<%= @project.created_by_user.email %>"><%= @project.created_by_user.email %></a>
      </p>
      <p>
        <dl>
          <dt>Project ID</dt>
          <dd><%= @project.metadata[:project_id] %></dd>
          <dt>Data Sponsor</dt>
          <dd><%= @project.metadata[:data_sponsor] %></dd>
          <dt>Data Manager</dt>
          <dd><%= @project.metadata[:data_manager] %></dd>
          <dt>Affiliated Departments</dt>
          <dd><%= @project.departments.join(", ") %></dd>
          <dt>Project Directory</dt>
          <dd><%= Rails.configuration.mediaflux["api_root_ns"] %>/<%= @project.metadata[:directory] %> </dd>
          <dt>Title</dt>
          <dd><%= @project.metadata[:title] %></dd>
          <dt>Description</dt>
          <dd><%= @project.metadata[:description] %></dd>
          <dt>Status</dt>
          <dd><%= @project.metadata[:status] %></dd>
        </dl>
      </p>
    </section>
  </body>
</html>
