<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <p>The following project has been approved and created:</p>

    Project ID: <%= @project.id %>
    Mediaflux ID: <%= @project.mediaflux_id %>
    Title: <%= @project.title %>
    Project Directory: <%= @project.project_directory %>
    Project Purpose: <%= @project.metadata_json["project_purpose"] %>
    Data Sponsor: <%= @project.metadata_json["data_sponsor"] %>
    Data Manager: <%= @project.metadata_json["data_manager"] %>

    <p>For more details, see <%= project_url(@project) %></p>
  </body>
</html>
