<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <p> A new project request has been created and is ready for review. The request can be viewed in the TigerData web portal: <%= request_url(@request) %></p>
    <p> Here is a preview of the request details: </p>

    <% @request_presenter = RequestPresenter.new(@request) %> 
    <ul>
      <li>Request State: <%= @request.state %></li>
      <li>Project Title: <%= @request.project_title %></li>
      <li>Project Directory: <%= @request_presenter.project_directory %></li>
      <li>Project Purpose: <%= @request_presenter.project_purpose %></li>
      <li>Project Description: <%= @request.description %></li>
      <li>Department(s): <%= @request_presenter.departments_list %></li>
      <li>Data Sponsor: <%= @request_presenter.data_sponsor %></li>
      <li>Data Manager: <%= @request_presenter.data_manager %></li>
      <li>Data User(s): <%= @request_presenter.user_list %></li>
      <li>Requested Quota: <%= @request.approved_quota_size %> <%= @request.approved_quota_unit %></li>
      <li>Estimated Number of Files: <%= @request.number_of_files %></li>
      <li>Needs HPC?: <%= @request.hpc %></li>
      <li>Needs SMB?: <%= @request.smb %></li>
      <li>Needs Globus? <%= @request.globus %></li>
    </ul>

