<% if emulator_content  && !current_user.nil? && @absolute_user.trainer%>
    <div id="emulator">
        <% if homepage?%>
            <h1><%= sanitize @emulator_title %></h1>
            <p><%= sanitize @emulator_body, attributes: %w(href target)%></p>
            <form action="emulate" method="post" id="emulation-form">
                <label for="emulation_menu" class="form-label">Current Role:</label>
                <select id="emulation_menu" name="emulation_menu" class="form-dropdown" required>
                    <option disabled="disabled" <%= "selected" if @absolute_user.trainer?%>>Trainer</option>
                    <option value="Eligible Data Sponsor" <%= "selected" if current_user.eligible_sponsor? && !current_user.trainer?%>>Eligible Data Sponsor</option>
                    <option value="Eligible Data Manager" <%= "selected" if current_user.eligible_manager? && !current_user.trainer?%>>Eligible Data Manager</option>
                    <option value="Eligible Data User" <%= "selected" if current_user.eligible_data_user? && !current_user.trainer?%>>Eligible Data User</option>
                    <option value="System Administrator" <%= "selected" if current_user.sysadmin && !current_user.trainer?%>>System Administrator</option>
                    <option value="Return to Self">Return to Self</option>
                </select>
                <%= token_tag nil %>
            </form>
        <%end%>

        <%if otherpage?%>
            <h1><%= sanitize @emulator_alt_title %></h1>
            <p><%= sanitize @emulator_alt_body, attributes: %w(href target)%></p>
            <p><%=@current_role%></p>
        <%end%>
    </div>
<% end %>