<footer>
<div class="p-2 text-left bg-light">
  <div class="deployment-version" >
      <text-style variation="strong">
        Version:
        <% @version = VersionFooter.info %>
        <% if @version[:stale] %>
          (stale)
        <% end %>
        <span title="<%= @version[:sha] %>">
          <% if @version[:tagged_release] %>
            <a href="https://github.com/pulibrary/tiger-data-app/releases/tag/<%= @version[:branch] %>" target="_blank"><%= @version[:branch] %></a>
          <% else %>
            <%= @version[:branch] %>,
          <% end %>
          last updated: <%= @version[:version] %>
        </span>
      </text-style>
    </div>
    &copy; <%= Date.current.year %> The Trustees of Princeton University
  </div>
</footer>

