<header>
<div class="header-row">
  <a href="/"><%= image_tag("TigerData-LOGO-KO_wide2.svg", alt: "TigerData logo", id: "logo", class: "header-image") %></a>
  <ul class="header-details">
    <li class="navbar-item"><%= link_to "Contact Us", "mailto:td-frontend@princeton.edu", class: "navbar-contact-us", tabindex: 0 %></li>
    <li class="navbar-item"><%= link_to "FAQ", "https://tigerdata.princeton.edu/how-it-works#faqs", class: "navbar-faq", tabindex: 0 %></li>
    <%= render partial: "shared/login" unless Flipflop.disable_login? %>
    <%= render partial: "shared/admin_login" if Flipflop.disable_login? %>
</div>
</header>