
<div id="projects-listing">
<% @dashboard_projects.each do |project| %>
  <a href="<%= project_path(project.id) %>"> 
  <section>
  <div class="project">
      <h2><%= project.title %></h2>
      <div class="details">
         <ul>
            <li class="status <%= project.status.downcase %>"><%= project.status %></li>
            <li class="project-type"><%= project.type %></li>
            <li class="user-role"><%= project.role(current_user) %></li>
            <li class="last-download"><%= project.latest_file_list_time %></li>
            <li class="last-activity"><%= project.last_activity %></li>
         </ul>
      </div>
   </div>
   </section>
   </a>
  <% end %> 
</div>