
<div id="projects-listing">
<% @dashboard_projects.each do |project| %> 
  <div class="project">
      <h2><%= link_to(project.title, project) %></h2>
      <div class="details">
         <ul>
            <li class="status <%= project.status.downcase %>"><%= project.status %></li>
            <li class="project-type"><%= project_type(project) %></li>
            <li class="user-role">Data user</li>
            <li class="last-download"><%= latest_file_list_time(project) %></li>
            <li class="last-activity"><%= last_activity_on_project(project) %></li>
         </ul>
      </div>
   </div>
  <% end %> 
</div>