<tr class="project">
    <td>
        <a class="click-row" href="<%= project_path(project.id) %>" >
        <table class="fixed-table">
            <tr>
                <td>
                    <h2><%= project.title %></h2>
                </td>
            </tr>
        </table>
        </a>
    </td>
    <td class="status details <%= project.status.downcase %>"><%= project.status %></td>
    <td class="project-type details"><%= project.type %></td>
    <td class="user-role details"><%= project.role(current_user) %></td>
    <td class="last-download details"><%= project.latest_file_list_time %></td>
    <td class="last-activity details"><%= project.last_activity %></td>
    <td class="quota-usage"><%= project.quota_usage(session_id: current_user.mediaflux_session) %></td>
</tr>
