<div id="welcome">
    <% unless current_user %>
    <%= render partial: "logged_out" %>
    <% else %>

      <%= render partial: "logged_in" %>
    <% end %>
</div>

<script type="module">
    // Make the AJAX call for version information explicitly on this page
    // (and for now only on this page) so that we don't make extra calls
    // to Mediaflux for every page loaded.
    dashStyle('<%= @dash_session %>');
    dashTab();
    displayMediafluxVersion('<%= mediaflux_info_index_path(format: "json") %>', <%= !current_user.nil? %>);

    // Setup the DataTables
    setupTable('#projects-listing');
    setupTable('#projects-listing-pending');
    setupTable('#projects-listing-approved');
</script>
