<div id="welcome">
    <% unless current_user %>
    <h1>Welcome to TigerData</h1>
    Please log in.
    <% else %>
   
    <div class="welcome-pane">
        <h1>Welcome, <%= current_user.given_name %>!</h1>
        <div class="project-button">
            <%if current_user.eligible_sponsor?%>
            <%= link_to "Create new project", new_project_path(), class: "btn btn-dark btn-sm" %>
            <%end%>
        </div>
    </div>
    <div id="dashboard-nav">
    <button id="dash-projects" class="tab-nav"> Projects </button>
    <button id="dash-activity" class="tab-nav"> Activity </button>
    <button id="dash-admin" class="tab-nav"> Administration </button>
    </div>
        <% if @dashtab == "project"%>
          <%= render partial: "projects_listing" %>
        <% elsif @dashtab == "activity" %>
          <%= render partial: "recent_activity" %>
        <% elsif @dashtab == "admin" %>
            <div style="display: inline-flex">
            <% if current_user.eligible_sysadmin?%>
            <div id="dashboard-pending">
                <h1>Project Administration</h1>
                <h4>Pending Projects</h4>
                <% if !@pending_projects.empty? %>
                <ul class="project-list">
                    <% @pending_projects.each do |project| %>
                    <li>
                        <%= link_to(project.title, project) %>
                    </li>
                    <% end %>
                </ul>
                <% else %>
                <p> (none) </p>
                <% end %>
                <h4>Recently Approved Projects</h4>
                <% if !@approved_projects.empty? %>
                <table class="sysadmin-list">
                    <% @approved_projects.each_with_index do |project, index| %>
                    <% @row_css = index < 5 ? "visible-row top-section" : "invisible-row bottom-section" %>
                    <tr class="<%=@row_css%>">
                        <td><%= link_to(project.title, project) %> </td>
                    </tr>
                    <% end %>
                </table>
                <button id="show-more-sysadmin" type="button" class="btn btn-dark">Show More</button>
                <% else %>
                <p> (none) </p>
                <% end %>
            </div>
            <% unless current_user.superuser? %>
            <%= render partial: "recent_activity" %>
            <% end %>
            <%end%>
        </div>
    <% end %>
    <% end %>
</div>

<script type="module">
    // Make the AJAX call for version information explicitly on this page
    // (and for now only on this page) so that we don't make extra calls
    // to Mediaflux for every page loaded.
    dashStyle('<%= @dashtab %>');
    dashTab();
    displayMediafluxVersion('<%= mediaflux_info_index_path(format: "json") %>', <%= !current_user.nil? %>);
</script>