<style>
  table > tbody > tr > th {
    border-width: 1px;
    border-style: dotted;
  }

  table > tbody > tr > td {
    border-width: 1px;
    border-style: dotted;
    vertical-align: top;
  }

  .asset-description {
    background-color:#f0f4f9;
    display:inline-block;
    max-width: 400px;
  }

  .asset-note {
    background-color:#f9f8f0;
    display:inline-block;
    max-width: 400px;
  }
</style>

<h1>TigerData</h1>

<p>
  Welcome to the TigerData user portal.
  <% unless current_user %>
    Please log in.
  <% end %>
</p>

<%= image_tag("logo-300-200.png", alt: "TigerData logo", size: "300x200") %>

<% if current_user %>
  <p>User: <b><%= current_user.uid %></b></p>
  <p>Connected to MediaFlux <b><%= @mf_version[:version] %></b> at <b><%= Rails.configuration.mediaflux["api_host"] %></b>
  <p><%= link_to "Organizations", organizations_path %></p>
<% end %>
