<h1>Welcome to TigerData</h1>

<% if current_user %>
    User: <%= current_user.uid %>
    <%= link_to "Log Out", main_app.destroy_user_session_path, class: "btn btn-primary" %>
<% else %>
    <%= button_to "Log In", user_cas_omniauth_authorize_path, class: "btn btn-primary" %>
<% end %>

<%= image_tag("logo-300-200.png", alt: "TigerData logo", size: "300x200") %>

<button id="test-jquery" class="btn btn-primary">Test jQuery</button>

<ul>
    <% @projects.each do |project| %>
       <li><%= project[:name] %></li>
    <% end %>
</ul>
