<div id="welcome">
    <% unless current_user %>
    <h1>Welcome to TigerData</h1>
    Please log in.
    <% else %>
   
    <div class="welcome-pane">
        <h1>Welcome, <%= current_user.given_name %>!</h1>
        <div class="project-button">
            <%if current_user.eligible_sponsor?%>
            <%= link_to "Create new project", new_project_path(), class: "btn btn-dark btn-sm" %>
            <%end%>
        </div>
    </div>
    <div id="dashboard-nav">
    <button id="dash-projects" class="tab-nav"> Projects </button>
    <button id="dash-activity" class="tab-nav"> Activity </button>
    <button id="dash-admin" class="tab-nav"> Administration </button>
    </div>
        <% if @dashtab == "project"%>
          <%= render partial: "projects_listing", locals: { projects: @dashboard_projects} %>
        <% elsif @dashtab == "activity" %>
          <%= render partial: "recent_activity" %>
        <% elsif @dashtab == "admin" %>
          <%= render partial: "admin_listing" %>
    <% end %>
    <% end %>
</div>

<script type="module">
    // Make the AJAX call for version information explicitly on this page
    // (and for now only on this page) so that we don't make extra calls
    // to Mediaflux for every page loaded.
    dashStyle('<%= @dashtab %>');
    dashTab();
    displayMediafluxVersion('<%= mediaflux_info_index_path(format: "json") %>', <%= !current_user.nil? %>);
</script>