<style>
  table > tbody > tr > th {
    border-width: 1px;
    border-style: dotted;
  }

  table > tbody > tr > td {
    border-width: 1px;
    border-style: dotted;
  }

  .asset-description {
    background-color:#f0f4f9;
  }

  .asset-note {
    background-color:#f9f8f0;
  }
</style>

<h1>TigerData</h1>

<p>
  Welcome to the TigerData user portal.
  <% unless current_user %>
    Please log in.
  <% end %>
</p>

<%= image_tag("logo-300-200.png", alt: "TigerData logo", size: "300x200") %>

<% if current_user %>
  <p>Connected to MediaFlux <b><%= @mf_version[:version] %></b> at <b><%= Rails.configuration.mediaflux["api_host"] %></b>
  <p>Assets under <b><%= @demo_namespace %></b></p>
  <table>
      <tr>
        <th>ID</th>
        <th>Path</th>
        <th>Type</th>
        <th>Size</th>
        <th>Dimension</th>
        <th>Created by</th>
        <th></th>
      </tr>
    <% @result[:assets].each do |asset| %>
      <tr>
        <td><%= asset[:id] %></td>
        <td>
          <% if asset[:collection] %>
            <%= link_to(asset[:path], root_path + "?namespace=#{asset[:path]}") %>
          <% else %>
            <%= asset[:path] %>
            <% if asset[:description] %>
              <br/>
              <span class="asset-description"><i><%= asset[:description] %></i></span>
            <% end %>
            <% if asset[:mf_note] %>
              <br/>
              <span class="asset-note"><i><%= asset[:mf_note] %></i></span>
            <% end %>
          <% end %>
        </td>
        <td><%= asset[:type] %></td>
        <td><%= asset[:size_human] %></td>
        <td>
          <% if asset[:image_size] %>
            <%= asset[:image_size] %>
          <% end %>
        </td>
        <td><%= asset[:creator] %></td>
        <td><%= link_to "Add Note", set_note_path(asset[:id]) %></td>
      </tr>
    <% end %>
  </table>

  <p>Displaying assets <%= @result[:result][:cursor][:from] %> to <%= @result[:result][:cursor][:to] %></p>

  <!-- prev/next -->
  <p>
    <% if @result[:result][:cursor][:prev] > 0 %>
      <%= link_to("Previous page", root_path + "?start=#{@result[:result][:cursor][:prev]}&namespace=#{@demo_namespace}" )%>
    <% else %>
      [Previous page]
    <% end %>
    |
    <% if @result[:result][:cursor][:next] > 0 %>
      <%= link_to("Next page", root_path + "?start=#{@result[:result][:cursor][:next]}&namespace=#{@demo_namespace}" )%>
    <% else %>
      [Next page]
    <% end %>
  </p>
<% end %>
