<% unless current_user %>
  <h1>Welcome to TigerData</h1>
  Please log in.
<% else %>
  <h1>Welcome, <%= current_user.given_name %>!</h1>
  <div style="display: inline-flex">
    <div id="dashboard-projects">
      <h1>My Projects</h1>
      <% if @sponsored_projects.size > 0 %>
        <h2>Sponsored by Me</h2>
        <ul class="project-list">
          <% @sponsored_projects.each do |project| %>
            <li><%= link_to(project.title, project) %> </li>
          <%end%>
        </ul>
      <% end %>
      <% if @managed_projects.size > 0 %> 
        <h2>Managed by Me</h2>
        <ul class="project-list">
          <% @managed_projects.each do |project| %>
            <li><%= link_to(project.title, project) %> </li>
          <%end%>
        </ul>
      <% end %>
      <% if @data_user_projects.size > 0 %> 
        <h2>Shared with Me</h2>
        <ul class="project-list">
          <% @data_user_projects.each do |project| %>
            <li><%= link_to(project.title, project) %> </li>
          <%end%>
        </ul>
      <% end %>
      <div>
        <br/>
        <%if current_user.eligible_sponsor?%>
          <%= link_to "New Project", new_project_path(), class: "btn btn-dark btn-sm" %>
        <%end%>
      </div>
    </div>
    <div id="dashboard-activity">
        <h2>Recent Activity</h2>
        <% if !@my_jobs.empty? %>
        <ul>
          <% @my_jobs.each do |job| %>
            <li>
              <%= job.title %>
              <ul>
                <li><%= job.description %></li>
                <% if job.completed_at.present? %>
                  <li><%= job.completion %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div style="display: inline-flex">
    <% if current_user.eligible_sysadmin?%>
      <div id="dashboard-pending">
        <h2>Pending Projects</h2>
        <% if !@pending_projects.empty? %>
          <ul class="project-list">
            <% @pending_projects.each do |project| %>
              <li>
                <%= link_to(project.title, project_approve_path(project)) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div id="dashboard-approved">
        <h2>Approved Projects</h2>
        <% if !@approved_projects.empty? %>
          <ul>
            <% @approved_projects.each do |project| %>
              <li>
                <%= project.title %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <%end%>
  </div>
  <% end %>
