<h1>TigerData</h1>

<p>
    Welcome to the TigerData user portal.
    <% unless current_user %>
        Please log in.
    <% end %>
</p>

<%= image_tag("logo-300-200.png", alt: "TigerData logo", size: "300x200") %>

<p></p>
<p>
    Connected to: MediaFlux at <b><%= Rails.configuration.mediaflux["api_host"] %></b>,
    Version: <b><%= @mf_version[:version] %></b>
</p>

<p>Asset IDs under <b><%= @demo_namespace %></b></p>
<ul>
<% @assets.each do |asset| %>
    <li><%= asset[:path] %> (<%= asset[:type] %>) <%= asset[:collection] ? "Collection" : "" %>
<% end %>
</ul>
