<div class="heading-frame">
  <div class="heading-text">
    <%= @request_model.project_title %>
  </div>
<div class="deco-line"></div>

<div class="request-description">
  This screen is a review of the request. No project has been created yet.
</div>

<div class="horizontal-frame">
    <% if @request_presenter.eligible_to_edit?(current_user)%>
      <% if !@request_model.submitted?%>
        <%= link_to "Edit request", new_project_review_and_submit_path(@request_model.id),class: "btn btn-dark btn-sm" %>
      <% else %>
        <%= link_to "Edit submitted request", admin_edit_request_path(@request_model.id),class: "btn btn-dark btn-sm" %>
        <%= link_to "Approve request", approve_request_path(@request_model.id), class: "btn btn-dark btn-sm" %>
      <% end %>
    <% end %>
</div>

<% if @request_model.error_message.present? %>
<p class="error-field">There was an error with this request</p>
<textarea class="disabled-field" rows="10" cols="50">
    <%= @request_model.error_message %>
  </textarea>
<% end %>

<ul class="request-fields">
  <div class="detail-heading">Basic Info</div>
  <div class="detail-pair">
    <li class="detail-subheading">Project Title</li>
    <p class="detail-value"><%= @request_model.project_title %></p>
  </div>
  <div class="detail-pair">
    <li class="detail-subheading">Project Directory</li>
    <p class="detail-value"><%= @request_presenter.project_directory %></p>
  </div>
  <div class="detail-pair">
    <li class="detail-subheading">Project Purpose</li>
    <p class="detail-value"><%= @request_model.project_purpose %></p>
  </div>
  <div class="detail-pair">
    <li class="detail-subheading">Project Description</li>
    <p class="detail-value"><%=@request_model.description %></p>
  </div>
  <div class="detail-pair">
      <li class="detail-subheading">Department(s)</li>
      <p class="detail-value"><%=@request_presenter.departments_list %></p>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="1200" height="1" viewBox="0 0 1200 1" fill="none">
    <path d="M6.36558e-08 0.5L1200 0.500105" stroke="#EEEEEE"/>
  </svg>

  <div class="detail-heading">Roles and People(s)</div>
  <div class="detail-pair">
    <li class="detail-subheading">Data Sponsor</li>
    <p class="detail-value"> <%= @request_presenter.data_sponsor %></p>
  </div>
  <div class="detail-pair">
    <li class="detail-subheading">Data Manager</li>
    <p class="detail-value"><%= @request_presenter.data_manager %></p>
  </div>
  <div class="detail-pair">
    <li class="detail-subheading">Data Users(s)</li>
    <p class="detail-value"><%=@request_presenter.user_list %></p>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="1200" height="1" viewBox="0 0 1200 1" fill="none">
    <path d="M6.36558e-08 0.5L1200 0.500105" stroke="#EEEEEE"/>
  </svg>

  <div class="detail-heading">Storage and Access</div>
  <div class="detail-pair">
    <li class="detail-subheading">Storage Needed</li>
    <p class="detail-value"><%= @request_model.approved_quota_size %> <%= @request_model.approved_quota_unit %></p>
  </div>
  <div class="detail-pair">
    <li class="detail-subheading">Estimated Number of Files</li>
    <p class="detail-value"><%= @request_model.number_of_files %></p>
  </div>

  <div class="detail-heading">Connection Options</div>
  <div class="detail-pair">
    <li class="storage-heading">Do you need to connect to HPC?</li>
    <p class="detail-value"><%= @request_model.hpc %></p>
  </div>
  <div class="detail-pair">
    <li class="storage-heading">Do you need SMB (network file share)?</li>
    <p class="detail-value"><%= @request_model.smb %></p>
  </div>
  <div class="detail-pair">
    <li class="storage-heading">Do you need to enable Globus transfers?</li>
    <p class="detail-value"> <%= @request_model.globus %></p>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="1200" height="1" viewBox="0 0 1200 1" fill="none">
    <path d="M6.36558e-08 0.5L1200 0.500105" stroke="#EEEEEE"/>
  </svg>
</ul>
