<h1><%= @request_model.project_title %></h1>

This screen is a review of the request.  No project has been created yet.

<div class="horizontal-frame">
  <% if !@request_model.submitted? %>
    <%= link_to "Edit request", new_project_review_and_submit_path(@request_model.id),class: "btn btn-dark btn-sm" %>
  <% end %>
  <% if current_user.eligible_sysadmin? && @request_model.submitted? %>
    <%= link_to "Edit submitted request", new_project_review_and_submit_path(@request_model.id),class: "btn btn-dark btn-sm" %>
    <%= link_to "Approve request", approve_request_path(@request_model.id), class: "btn btn-dark btn-sm" %>
  <% end %>
</div>

<% if @request_model.error_message.present? %>
  <p class="error-field">There was an error with this request</p>
  <textarea class="disabled-field" rows="10" cols="50">
    <%= @request_model.error_message %>
  </textarea>
<% end %>

<ul class="request_model-fields">
  <li>Request created at: <%= @request_model.created_at.strftime("%m/%d/%Y") %></li>
  <li>Request updated at: <%= @request_model.updated_at.strftime("%m/%d/%Y") %></li>
  <li>Project title: <%= @request_model.project_title %></li>
  <li>Request state: <%= @request_model.state %></li>
  <li>Data sponsor: <%= @request_model.data_sponsor %></li>
  <li>Data manager: <%= @request_model.data_manager %></li>
  <li>Data user(s):
    <ul>
      <% (@request_model.user_roles || []).each do |data_user| %>
        <li><%= "#{data_user["name"]} (#{data_user["uid"]})" %></li>
      <% end %> 
    </ul>
  </li>
  <li>Department(s):
    <ul>    
      <% (@request_model.departments || []).each do |department| %>
        <li><%= "#{department["name"]} (#{department["code"]})" %></li>
      <% end %> 
    </ul>
  </li>
  <li>Description: <%= @request_model.description %></li>
  <li>Parent folder: <%= @request_model.parent_folder %></li>
  <li>Project folder: <%= @request_model.project_folder %></li>
  <li>Project ID: <%= @request_model.project_id %></li>
  <li>Quota: <%= @request_model.quota %></li>
  <li>Requested by: <%= @request_model.requested_by %></li>
</ul>
