<h2>Project Settings</h2>
<dl>
    <dt>Project ID</dt>
    <dd id="project_id"><%= @presenter.project_id %></dd>
    <dt>Storage Capacity</dt>
    <dd>
        <dl>
            <div class="approved-details">
                <dt>Requested</dt>
                <dd><%= "#{@requested_size} #{@requested_unit}" %></dd>
                <dt>Approved</dt>
                <dd><%= "#{@approved_size} #{@approved_unit}" %></dd>
            </div>
        </dl>
    </dd>
    <dt>Storage Performance Expectations</dt>
    <dd>
        <dl>
            <div class="approved-details">
                <dt>Requested</dt>
                <dd><%= @requested_storage_expectations %></dd>
                <dt>Approved</dt>
                <dd><%= @approved_storage_expectations %></dd>
            </div>
        </dl>
    </dd>
    <!-- The HTML &nbsp; is to make sure the `dd` element aligns with the proper `dt` when is empty -->
    <dt>Project Purpose</dt>
    <dd><%= @presenter.project_purpose %>&nbsp;</dd>

    <dt>Estimated number of files</dt>
    <dd><%= @presenter.number_of_files %>&nbsp;</dd>

    <dt>High Performance Computing</dt>
    <dd><%= @presenter.hpc %></dd>

    <dt>Network File Share</dt>
    <dd><%= @presenter.smb %></dd>

    <dt>Globus Transfers</dt>
    <dd><%= @presenter.globus %></dd>
</dl>
<% if @project.in_mediaflux? && (current_user.developer? || current_user.eligible_sysadmin?) %>
<dl>
    <dt>Mediaflux id:</dt>
    <dd><%= @project.mediaflux_id %></dd>
</dl>
<% elsif !@project.in_mediaflux? %>
  <p>This project has not been saved to Mediaflux</p>
<% end %>