<%= render 'form_errors' %>
<%= render 'data_list' %>

<div class="container" id="approve">
  <%
=begin%>
  TODO: ALL FIELDS EXCEPT FOR EVENT MUST BE REQUIRED
        ALL FIELDS MUST EITHER VALIDATE OR OVERWRITE METADATA
        MAP SUBMISSION FIELDS TO THEIR PROPER VALUES
            PROJECT DIRECTORY => project.metadata[:directory]
            STORAGE CAPACITY => project.metadata[:storage_capacity][:size][:approved]
                                project.metadata[:storage_capacity][:unit][:approved] = GB
            COLLECTION ID => project.mediaflux_id (ALREADY DONE)
            APPROVER => ProvenanceEvent::APPROVAL_EVENT_TYPE.event_person (ALREADY DONE)
            APPROVAL DATE TIME => ProvenanceEvent::APPROVAL_EVENT_TYPE.created_at (ALREADY DONE)
            EVENT NOTE => ProvenanceEvent::APPROVAL_EVENT_TYPE.event_note (NEEDS TO BE CREATED)

<%
=end%>
  <div class="field">
    <label for="project_directory" class="form-label">Confirm Project Directory</label>
    <input class="form-directory" type="text" name="project_directory-prefix" disabled readonly value= <%= Rails.configuration.mediaflux["api_root_ns"] %>></input> /  
    <input class="form-directory-confirm" type="text" name="project_directory" required placeholder=<%= "#{@project.metadata[:directory]}"%>></input>  
  </div>
  <div class="field">
    <label for="storage_capacity" class="form-label">Confirm Storage Capacity</label>
    <input class="form-control" type="number" min="1" name="storage_capacity" required placeholder=<%= "#{@project.metadata[:storage_capacity][:size][:requested]}"%>>GB</input> 
  </div>
  <div class="field">
    <label for="mediaflux_id" class="form-label">Collection ID</label>
    <input class="form-control" type="text" required name="mediaflux_id"></input>
  </div>
  <div class="field">
    <label for="approver" class="form-label">Approver</label>
    <input class="form-control" type="text" name="approver" disabled value=<%=current_user.uid%>></input>
  </div>
  <div class="field">
    <label for="approval_date" class="form-label">Approval Date Time</label>
    <input class="form-date" type="text" name="approval_date" disabled value=<%=DateTime.now.in_time_zone("America/New_York").iso8601%>></input>
  </div>
  <div class="field">
    <label for="Event Note" class="form-label">Event Note</label>
    <select class="form-dropdown" name="Event Note" id="Event Note">
      <option disabled selected value> -- select an option -- </option>
      <option value="Event-Quota">Quota</option>
      <option value="Event-Tier">Tier</option>
      <option value="Event-Other">Other</option>
    </select>
    Message
    <input class="form-message" type="text"> </input>
  </div>
    
    <button type="submit" class="btn btn-primary">Approve </button>
</div>
