<h2>Project Settings</h2>
<dl>
  <dt>Project ID</dt>&nbsp;<dd><%= @project_id %></dd>
  <dt>Storage Capacity</dt>
    <dd><dl>
      <dt>Requested</dt><dd><%= "#{@requested_size} #{@requested_unit}" %></dd>
      <dt>Approved</dt><dd><%= "#{@approved_size} #{@approved_unit}" %></dd>
    </dl></dd>
  <dt>Storage Performance Expectations</dt>
  <dd><dl>
    <dt>Requested</dt><dd><%= @requested_storage_expectations %></dd>
    <dt>Approved</dt><dd><%= @approved_storage_expectations %></dd>
  </dl></dd>
  <dt>Project Purpose</dt>&nbsp;<dd><%= @project_purpose %></dd>
</dl>
<% if @project.in_mediaflux? %>
  <dl>
    <dt>Mediaflux id:</dt>&nbsp;<dd><%= @project.mediaflux_id %></dd>
  </dl>
<% else %>
  <p>This project has not been saved to Mediaflux</p>
<% end %>
