<%= render 'form_errors' %>
<div id="edit">
   <h2>Project Roles</h2>

   <div class="row ">
      <div class="col-md-3">
         <label for="data_sponsor">Data Sponsor</label>
         <div class="required-field">Required</div>
      </div>
      <div class="col-md-9">
         <% if current_user.superuser? %>
            <input type="text" id="data_sponsor" aria-label="data sponsor" name="data_sponsor" required oninvalid="this.setCustomValidity('')"
               oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.data_sponsor %>" /></input>
            <div class="custom_error" id="sponsor_error" aria-live="polite">
               <%= image_tag("custom_error.svg", alt: "This field is required") %>
               <div class="error_message">This field is required. </div>
            </div>
         <span class="autocomplete-arrow"></span>
         <i id="data_sponsor_error_icon" class="bi bi-exclamation-circle-fill autocomplete-error hidden-element"></i>
         <span id="data_sponsor_error" class="autocomplete-error"></span>
         <% else %>
            <input type="hidden" id="data_sponsor" name="data_sponsor" oninvalid="this.setCustomValidity('')"
               oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.data_sponsor || current_user.uid %>">
            <span id="non-editable-data-sponsor"><%= @project.metadata_model.data_sponsor || current_user.uid %></span>
         <% end %>
      </div>
   </div>

   <div class="row ">
      <div class="col-md-3">
         <label for="data_manager">Data Manager</label>
         <div class="required-field">Required</div>
      </div>
      <div class="col-md-9">
         <% if !@project.persisted? || @project.metadata_model.data_sponsor == current_user.uid %>
         <input type="text" id="data_manager" aria-label="data manager" name="data_manager" required oninvalid="this.setCustomValidity('')"
               oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.data_manager %>" /></input>
         <div class="custom_error" id="manager_error" aria-live="polite">
            <%= image_tag("custom_error.svg", alt: "This field is required") %>
            <div class="error_message">This field is required. </div>
         </div>
      </div>
         <span class="autocomplete-arrow"></span>
         <i id="data_manager_error_icon" class="bi bi-exclamation-circle-fill autocomplete-error hidden-element"></i>
         <span id="data_manager_error" class="autocomplete-error"></span>
         <% else %>
         <input type="hidden" id="data_manager" aria-label="data manager"  name="data_manager" value="<%= @project.metadata_model.data_manager %>">
         <span id="non-editable-data-manager"><%= @project.metadata_model.data_manager %></span>
         <% end %>
      </div>
   </div>

   <label>Data User(s)</label>
   <div class="row ">
      <div class="col-md-3">
         <label for="ro-user-uid-to-add">Read Only</label>
      </div>
      <div class="col-md-9">
         <div class="data-users">
            <ul id="ro-users-list">
               <% (@project.metadata_model.ro_users || []).compact.each do |user| %>
               <span class="ro-user-item" data-uid="<%= user %>"></span>
               <% end %>
            </ul>
            <div class="add_new_uer_div">
               <input id="ro-user-uid-to-add"  list="all-users"  placeholder="netid" class="add_new_user_textbox"></input>
               <span class="autocomplete-arrow"></span>
               <i id="ro-user-uid-to-add_error_icon" class="bi bi-exclamation-circle-fill autocomplete-error hidden-element"></i>
               <span id="ro-user-uid-to-add_error" class="autocomplete-error"></span>
               <input type="submit" value="Add User" id="btn-add-ro-user" class="btn btn-secondary"  title="Adds a read only user"/>
               <span id="add-ro-user-message"></span>
            </div>
         </div>
      </div>
   </div>

   <div class="row ">
      <div class="col-md-3">
         <label for="rw-user-uid-to-add">Read/Write</label>
      </div>
      <div class="col-md-9">
         <div class="data-users">
            <ul id = "rw-users-list">
               <% (@project.metadata_model.rw_users || []).compact.each do |user|%>
               <span class="rw-user-item" data-uid="<%= user %>"></span>
               <%end%>
            </ul>
            <div class="add_new_user_div">
               <input id = "rw-user-uid-to-add"  list="all-users"  placeholder = "netid" class="add_new_user_textbox"> </input>
               <span class="autocomplete-arrow"></span>
               <i id="rw-user-uid-to-add_error_icon" class="bi bi-exclamation-circle-fill autocomplete-error hidden-element"></i>
               <span id="rw-user-uid-to-add_error" class="autocomplete-error"></span>
               <input type="submit" value="Add User" id="btn-add-rw-user" class="btn btn-secondary" title="Adds a read write user"/>
               <span id = "add-rw-user-message"></span>
            </div>
         </div>
      </div>
   </div>

   <h2>Project Description</h2>
      <% if current_user.superuser? %>
         <div class="row ">
            <div class="col-md-3">
               <label for="project_id">Project ID</label>
            </div>
            <div class="col-md-9">
               <input type="text" id="project_id" aria-label="project id" name="project_id" value="<%= @project.metadata_model.project_id %>" /></input>
            </div>
         </div>
      <% end %>
      <div class="row ">
         <div class="col-md-3">
            <label for="title">Title</label>
            <div class="required-field">Required</div>
         </div>
         <div class="col-md-9">
            <div id="edit">
            <input type="text" id="title" name="title"  aria-label="project title" required oninvalid="this.setCustomValidity('')" oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.title %>" />
            <div class="custom_error" id="title_error" aria-live="polite">
               <%= image_tag("custom_error.svg", alt: "This field is required") %>
               <div class="error_message">This field is required. </div>
            </div>
         </div>
         </div>
      </div>

         <% if @project.in_mediaflux? %>
         <!--
            Make the field readonly so the user cannot change it, but leave it as an HTML INPUT so that it is
            send back to the controller (we don't want to lose this value)
            -->
            <div class="row ">
           <div class="col-md-3">
           <label for="project_directory">Project Directory <%= @project.project_directory_parent_path %>/</label>


           </div>
           <div class="col-md-9">
           <input type="text" aria-label="project directory" id="project_directory" name="project_directory" readonly value="<%= @project.project_directory_short %>" />
           </div>
         </div>

         <% if (current_user.superuser? || current_user.eligible_sysadmin?) %>
         <div class="row ">
   <div class="col-md-3">
   <label>MediaFlux ID</label>
  <div class="col-md-3">
  <label>MediaFlux ID</label>


  </div>
  <div class="col-md-9">
  <input readonly value="<%= @project.mediaflux_id %>" />
         <p class="mediaflux-tooltip">This project has already been saved to Mediaflux and the project_directory cannot be changed</p>
  </div>

         <% end %>

         <% end %>

         <div class="row ">
         <div class="col-md-3">
         <label for="project_directory">Directory Path</label>
         <div class="required-field">Required</div>
         <div class="required-field">Required</div>
         </div>
         <div class="col-md-9">
         <div id="edit">
         <span class="path-info"><%= @project.project_directory_parent_path %>/ </span>
         <input type="text" aria-label="project directory" id="project_directory" name="project_directory" required oninvalid="this.setCustomValidity('')" oninput="this.setCustomValidity('')" value="<%= @project.project_directory_short %>" pattern="[\w\p{L}\-]{1,64}" />
            <div class="custom_error" id="directory_error" aria-live="polite">
               <%= image_tag("custom_error.svg", alt: "This field is required") %>
               <div class="error_message">This field is required. </div>
            </div>
         </div>
       </div>


       <div class="row ">
  <div class="col-md-3">

  <label for="departments">Departments</label>
  <div class="required-field">Required</div>
  </div>
  <div class="col-md-9">

  <select id="departments" name="departments[]"  aria-label="project department" required value class="form-select" multiple >
               <% Affiliation.all.each do |affiliation| %>
               <% if @project.departments.include?(affiliation[:code]) %>
               <option selected><%= affiliation[:code] %></option>
               <% else %>
               <option><%= affiliation[:code] %></option>
               <% end %>
                <% end %>
            </select>
  </div>
</div>
</div>

<div class="row ">
  <div class="col-md-3">
  <label for="description">Description</label>


  </div>
  <div class="col-md-9">

  <textarea type="text" id="description"  aria-label="project description" name="description" class="input-text-long"
            rows="5" cols="72" placeholder=""><%= @project.metadata_model.description %></textarea>

  </div>
</div>


<!-- Keeps track of added read-only and read-write users -->
<input type="text" id="ro_user_counter" name="ro_user_counter" value="0" style="display:none;"/>
<input type="text" id="rw_user_counter" name="rw_user_counter" value="0" style="display:none;"/>
<div class="actions">
   <button type=submit value="Submit" class="btn btn-primary" id="submit-btn">Submit</button>
   <% if params[:action] == 'edit' %>
   <%= link_to "Cancel", @project, class: "btn btn-secondary", id: "cancel-btn" %>
   <% else %>
   <%= link_to "Cancel", root_path, class: "btn btn-secondary", id: "cancel-btn" %>
   <% end %>
</div>



</div>

<script>
   // Notice that we are keeping this JavaScript on the page rather than on application.js
   // because otherwise we don't have access to $(elementId).autocomplete()
   // This is due to the way we are loading the autocomplete outside of application.js
   $(function() {

      var validateSelection = function(value, elementId, data, required) {
         const errorId = elementId + "_error";
         var validSelection = false;

         $(errorId).text("");
         $(errorId).addClass("hidden-element");
         if (value === "") {
            if(required === true) {
               $(errorId).removeClass("hidden-element");
               $(errorId).text("This field is required");
            } else {
               validSelection = true;
            }
         } else {
            for(let i = 0; i < data.length; i++) {
               if (value === data[i].data) {
                  validSelection = true;
                  break;
               }
            }
            if (!validSelection) {
               $(errorId).removeClass("hidden-element");
               $(errorId).text("Invalid value entered");
            }
         }
         return validSelection;
      }

      // Setup the autocomplete for a given `elementId` with the `data` provided.
      // Autocomplete documentation: https://github.com/devbridge/jQuery-Autocomplete
      var setupAutocomplete = function(elementId, data, required) {
         $(elementId).autocomplete({
            minChars: 1,
            autoSelectFirst: true,
            showNoSuggestionNotice: true,
            noSuggestionNotice: "No results found",
            lookup: data,
            onSelect: function (suggestion) {
               $(elementId).val(suggestion.data);
            }
         });

         $(elementId).on("focusout", function(event) {
            const value = event.target.value.trim();
            if (validateSelection(value, elementId, data, required) === false) {
               // If this field is not valid, the form is not valid
               invalidateForm();
            } else {
               // Checks all fields in the form just to be sure
               validateForm();
            }
         });
      }

      // Give focus to the autocomplete textbox when the arrow is clicked
      // This is needed because the arrow itself is not part of the textbox,
      // it just _looks_ like it is, but it is a separate HTML element.
      $(".autocomplete-arrow").on("click", function (event) {
         $(event.currentTarget).prev().focus();
         return false;
      })

      var invalidateForm = function() {
         console.log("Marking form as not valid");
         $("#submit-btn").prop("disabled", true);
      }

      var validateForm = function() {
         console.log("Checking if the form is valid");
         var v1 = validateSelection($("#data_sponsor").val(), "#data_sponsor", [ <%= sponsor_list_json %> ], true);
         var v2 = validateSelection($("#data_manager").val(), "#data_manager", [ <%= manager_list_json %> ], true);
         var v3 = validateSelection($("#ro-user-uid-to-add").val(), "#ro-user-uid-to-add", [ <%= all_users_list_json %> ], false);
         var v4 = validateSelection($("#rw-user-uid-to-add").val(), "#rw-user-uid-to-add", [ <%= all_users_list_json %> ], false);
         var valid = (v1 && v2 && v3 && v4);
         console.log(`Valid to submit: ${valid} (${v1}, ${v2}, ${v3}, ${v4})` );
         $("#submit-btn").prop("disabled", !valid);
      }

      setupAutocomplete("#data_sponsor", [ <%= sponsor_list_json %> ], true);
      setupAutocomplete("#data_manager", [ <%= manager_list_json %> ], true);
      setupAutocomplete("#ro-user-uid-to-add", [ <%= all_users_list_json %> ], false);
      setupAutocomplete("#rw-user-uid-to-add", [ <%= all_users_list_json %> ], false);
   });
</script>
