<%= render 'form_errors' %>
<%= render 'data_list' %>
<div id="edit">
   <h2>Project Roles</h2>

   <div class="row ">
      <div class="col-md-3">
         <label for="data_sponsor">Data Sponsor</label>
         <div class="required-field">Required</div>
      </div>
      <div class="col-md-9">
         <% if current_user.superuser? %>
            <input type="text" list="sponsor-users" id="data_sponsor" aria-label="data sponsor" name="data_sponsor" required oninvalid="this.setCustomValidity('')"
               oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.data_sponsor %>" /></input>
            <div class="custom_error" id="sponsor_error" aria-live="polite">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M12.6326 17C12.9159 17 13.1534 16.9042 13.3451 16.7125C13.5367 16.5208 13.6326 16.2833 13.6326 16C13.6326 15.7167 13.5367 15.4792 13.3451 15.2875C13.1534 15.0958 12.9159 15 12.6326 15C12.3492 15 12.1117 15.0958 11.9201 15.2875C11.7284 15.4792 11.6326 15.7167 11.6326 16C11.6326 16.2833 11.7284 16.5208 11.9201 16.7125C12.1117 16.9042 12.3492 17 12.6326 17ZM12.6326 13C12.9159 13 13.1534 12.9042 13.3451 12.7125C13.5367 12.5208 13.6326 12.2833 13.6326 12V8C13.6326 7.71667 13.5367 7.47917 13.3451 7.2875C13.1534 7.09583 12.9159 7 12.6326 7C12.3492 7 12.1117 7.09583 11.9201 7.2875C11.7284 7.47917 11.6326 7.71667 11.6326 8V12C11.6326 12.2833 11.7284 12.5208 11.9201 12.7125C12.1117 12.9042 12.3492 13 12.6326 13ZM12.6326 22C11.2492 22 9.94923 21.7375 8.73257 21.2125C7.5159 20.6875 6.45757 19.975 5.55757 19.075C4.65757 18.175 3.94507 17.1167 3.42007 15.9C2.89507 14.6833 2.63257 13.3833 2.63257 12C2.63257 10.6167 2.89507 9.31667 3.42007 8.1C3.94507 6.88333 4.65757 5.825 5.55757 4.925C6.45757 4.025 7.5159 3.3125 8.73257 2.7875C9.94923 2.2625 11.2492 2 12.6326 2C14.0159 2 15.3159 2.2625 16.5326 2.7875C17.7492 3.3125 18.8076 4.025 19.7076 4.925C20.6076 5.825 21.3201 6.88333 21.8451 8.1C22.3701 9.31667 22.6326 10.6167 22.6326 12C22.6326 13.3833 22.3701 14.6833 21.8451 15.9C21.3201 17.1167 20.6076 18.175 19.7076 19.075C18.8076 19.975 17.7492 20.6875 16.5326 21.2125C15.3159 21.7375 14.0159 22 12.6326 22ZM12.6326 20C14.8659 20 16.7576 19.225 18.3076 17.675C19.8576 16.125 20.6326 14.2333 20.6326 12C20.6326 9.76667 19.8576 7.875 18.3076 6.325C16.7576 4.775 14.8659 4 12.6326 4C10.3992 4 8.50757 4.775 6.95757 6.325C5.40757 7.875 4.63257 9.76667 4.63257 12C4.63257 14.2333 5.40757 16.125 6.95757 17.675C8.50757 19.225 10.3992 20 12.6326 20Z" fill="#B00002"/>
               </svg>
               <div class="error_message">This field is required. </div>
            </div>
         <% else %>
            <input type="hidden" id="data_sponsor" name="data_sponsor" oninvalid="this.setCustomValidity('')"
               oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.data_sponsor || current_user.uid %>">
            <span id="non-editable-data-sponsor"><%= @project.metadata_model.data_sponsor || current_user.uid %></span>
         <% end %>
      </div>
   </div>

   <div class="row ">
      <div class="col-md-3">
         <label for="data_manager">Data Manager</label>
         <div class="required-field">Required</div>
      </div>
      <div class="col-md-9">
         <% if !@project.persisted? || @project.metadata_model.data_sponsor == current_user.uid %>
         <input type="text" list="manager-users" id="data_manager" aria-label="data manager" name="data_manager" required oninvalid="this.setCustomValidity('')"
               oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.data_manager %>" /></input>
         <div class="custom_error" id="manager_error" aria-live="polite">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
               <path d="M12.6326 17C12.9159 17 13.1534 16.9042 13.3451 16.7125C13.5367 16.5208 13.6326 16.2833 13.6326 16C13.6326 15.7167 13.5367 15.4792 13.3451 15.2875C13.1534 15.0958 12.9159 15 12.6326 15C12.3492 15 12.1117 15.0958 11.9201 15.2875C11.7284 15.4792 11.6326 15.7167 11.6326 16C11.6326 16.2833 11.7284 16.5208 11.9201 16.7125C12.1117 16.9042 12.3492 17 12.6326 17ZM12.6326 13C12.9159 13 13.1534 12.9042 13.3451 12.7125C13.5367 12.5208 13.6326 12.2833 13.6326 12V8C13.6326 7.71667 13.5367 7.47917 13.3451 7.2875C13.1534 7.09583 12.9159 7 12.6326 7C12.3492 7 12.1117 7.09583 11.9201 7.2875C11.7284 7.47917 11.6326 7.71667 11.6326 8V12C11.6326 12.2833 11.7284 12.5208 11.9201 12.7125C12.1117 12.9042 12.3492 13 12.6326 13ZM12.6326 22C11.2492 22 9.94923 21.7375 8.73257 21.2125C7.5159 20.6875 6.45757 19.975 5.55757 19.075C4.65757 18.175 3.94507 17.1167 3.42007 15.9C2.89507 14.6833 2.63257 13.3833 2.63257 12C2.63257 10.6167 2.89507 9.31667 3.42007 8.1C3.94507 6.88333 4.65757 5.825 5.55757 4.925C6.45757 4.025 7.5159 3.3125 8.73257 2.7875C9.94923 2.2625 11.2492 2 12.6326 2C14.0159 2 15.3159 2.2625 16.5326 2.7875C17.7492 3.3125 18.8076 4.025 19.7076 4.925C20.6076 5.825 21.3201 6.88333 21.8451 8.1C22.3701 9.31667 22.6326 10.6167 22.6326 12C22.6326 13.3833 22.3701 14.6833 21.8451 15.9C21.3201 17.1167 20.6076 18.175 19.7076 19.075C18.8076 19.975 17.7492 20.6875 16.5326 21.2125C15.3159 21.7375 14.0159 22 12.6326 22ZM12.6326 20C14.8659 20 16.7576 19.225 18.3076 17.675C19.8576 16.125 20.6326 14.2333 20.6326 12C20.6326 9.76667 19.8576 7.875 18.3076 6.325C16.7576 4.775 14.8659 4 12.6326 4C10.3992 4 8.50757 4.775 6.95757 6.325C5.40757 7.875 4.63257 9.76667 4.63257 12C4.63257 14.2333 5.40757 16.125 6.95757 17.675C8.50757 19.225 10.3992 20 12.6326 20Z" fill="#B00002"/>
            </svg>
            <div class="error_message">This field is required. </div>
         </div>
      </div>
         <% else %>
         <input type="hidden" id="data_manager" aria-label="data manager"  name="data_manager" value="<%= @project.metadata_model.data_manager %>">
         <span id="non-editable-data-manager"><%= @project.metadata_model.data_manager %></span>
         <% end %>
      </div>
   </div>

   <label>Data User(s)</label>
   <div class="row ">
      <div class="col-md-3">
         <label for="ro-user-uid-to-add">Read Only</label>
      </div>
      <div class="col-md-9">
         <div class="data-users">
            <ul id="ro-users-list">
               <% (@project.metadata_model.ro_users || []).compact.each do |user| %>
               <span class="ro-user-item" data-uid="<%= user %>"></span>
               <% end %>
            </ul>
            <div class="add_new_uer_div">
               <input id="ro-user-uid-to-add"  list="all-users"  placeholder="netid" class="add_new_user_textbox"></input>
               <input type="submit" value="Add User" id="btn-add-ro-user" class="btn btn-secondary"  title="Adds a read only user"/>
               <span id="add-ro-user-message"></span>
            </div>
         </div>
      </div>
   </div>

   <div class="row ">
      <div class="col-md-3">
         <label for="rw-user-uid-to-add">Read/Write</label>
      </div>
      <div class="col-md-9">
         <div class="data-users">
            <ul id = "rw-users-list">
               <% (@project.metadata_model.rw_users || []).compact.each do |user|%>
               <span class="rw-user-item" data-uid="<%= user %>"></span>
               <%end%>
            </ul>
            <div class="add_new_user_div">
               <input id = "rw-user-uid-to-add"  list="all-users"  placeholder = "netid" class="add_new_user_textbox"> </input>
               <input type="submit" value="Add User" id="btn-add-rw-user" class="btn btn-secondary" title="Adds a read write user"/>
               <span id = "add-rw-user-message"></span>
            </div>
         </div>
      </div>
   </div>

   <h2>Project Description</h2>
      <% if current_user.superuser? %>
         <div class="row ">
            <div class="col-md-3">
               <label for="project_id">Project ID</label>
            </div>
            <div class="col-md-9">
               <input type="text" id="project_id" aria-label="project id" name="project_id" value="<%= @project.metadata_model.project_id %>" /></input>
            </div>
         </div>
      <% end %>
      <div class="row ">
         <div class="col-md-3">
            <label for="title">Title</label>
            <div class="required-field">Required</div>
         </div>
         <div class="col-md-9">
            <div id="edit">
            <input type="text" id="title" name="title"  aria-label="project title" required oninvalid="this.setCustomValidity('')" oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.title %>" />
            <div class="custom_error" id="title_error" aria-live="polite">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M12.6326 17C12.9159 17 13.1534 16.9042 13.3451 16.7125C13.5367 16.5208 13.6326 16.2833 13.6326 16C13.6326 15.7167 13.5367 15.4792 13.3451 15.2875C13.1534 15.0958 12.9159 15 12.6326 15C12.3492 15 12.1117 15.0958 11.9201 15.2875C11.7284 15.4792 11.6326 15.7167 11.6326 16C11.6326 16.2833 11.7284 16.5208 11.9201 16.7125C12.1117 16.9042 12.3492 17 12.6326 17ZM12.6326 13C12.9159 13 13.1534 12.9042 13.3451 12.7125C13.5367 12.5208 13.6326 12.2833 13.6326 12V8C13.6326 7.71667 13.5367 7.47917 13.3451 7.2875C13.1534 7.09583 12.9159 7 12.6326 7C12.3492 7 12.1117 7.09583 11.9201 7.2875C11.7284 7.47917 11.6326 7.71667 11.6326 8V12C11.6326 12.2833 11.7284 12.5208 11.9201 12.7125C12.1117 12.9042 12.3492 13 12.6326 13ZM12.6326 22C11.2492 22 9.94923 21.7375 8.73257 21.2125C7.5159 20.6875 6.45757 19.975 5.55757 19.075C4.65757 18.175 3.94507 17.1167 3.42007 15.9C2.89507 14.6833 2.63257 13.3833 2.63257 12C2.63257 10.6167 2.89507 9.31667 3.42007 8.1C3.94507 6.88333 4.65757 5.825 5.55757 4.925C6.45757 4.025 7.5159 3.3125 8.73257 2.7875C9.94923 2.2625 11.2492 2 12.6326 2C14.0159 2 15.3159 2.2625 16.5326 2.7875C17.7492 3.3125 18.8076 4.025 19.7076 4.925C20.6076 5.825 21.3201 6.88333 21.8451 8.1C22.3701 9.31667 22.6326 10.6167 22.6326 12C22.6326 13.3833 22.3701 14.6833 21.8451 15.9C21.3201 17.1167 20.6076 18.175 19.7076 19.075C18.8076 19.975 17.7492 20.6875 16.5326 21.2125C15.3159 21.7375 14.0159 22 12.6326 22ZM12.6326 20C14.8659 20 16.7576 19.225 18.3076 17.675C19.8576 16.125 20.6326 14.2333 20.6326 12C20.6326 9.76667 19.8576 7.875 18.3076 6.325C16.7576 4.775 14.8659 4 12.6326 4C10.3992 4 8.50757 4.775 6.95757 6.325C5.40757 7.875 4.63257 9.76667 4.63257 12C4.63257 14.2333 5.40757 16.125 6.95757 17.675C8.50757 19.225 10.3992 20 12.6326 20Z" fill="#B00002"/>
               </svg>
            <div class="error_message">This field is required. </div>
            </div>
         </div>
         </div>
      </div>

         <% if @project.in_mediaflux? %>
         <!--
            Make the field readonly so the user cannot change it, but leave it as an HTML INPUT so that it is
            send back to the controller (we don't want to lose this value)
            -->
            <div class="row ">
           <div class="col-md-3">
           <label for="project_directory">Project Directory <%= @project.project_directory_parent_path %>/</label>

           </div>
           <div class="col-md-9">
           <input type="text" aria-label="project directory" id="project_directory" name="project_directory" readonly value="<%= @project.project_directory_short %>" />
           </div>
         </div>

         <% if (current_user.superuser? || current_user.eligible_sysadmin?) %>
         <div class="row ">
   <div class="col-md-3">
   <label>MediaFlux ID</label>


  </div>
  <div class="col-md-9">
  <input readonly value="<%= @project.mediaflux_id %>" />
         <p class="mediaflux-tooltip">This project has already been saved to Mediaflux and the project_directory cannot be changed</p>
  </div>

         <% end %>

         <% end %>

         <div class="row ">
         <div class="col-md-3">
         <label for="project_directory">Directory Path</label>
         <div class="required-field">Required</div>
         </div>
         <div class="col-md-9">
         <div id="edit">
         <span class="path-info"><%= @project.project_directory_parent_path %>/ </span>
         <input type="text" aria-label="project directory" id="project_directory" name="project_directory" required oninvalid="this.setCustomValidity('')" oninput="this.setCustomValidity('')" value="<%= @project.project_directory_short %>" pattern="[\w\p{L}\-]{1,64}" />
            <div class="custom_error" id="directory_error" aria-live="polite">
               <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                  <path d="M12.6326 17C12.9159 17 13.1534 16.9042 13.3451 16.7125C13.5367 16.5208 13.6326 16.2833 13.6326 16C13.6326 15.7167 13.5367 15.4792 13.3451 15.2875C13.1534 15.0958 12.9159 15 12.6326 15C12.3492 15 12.1117 15.0958 11.9201 15.2875C11.7284 15.4792 11.6326 15.7167 11.6326 16C11.6326 16.2833 11.7284 16.5208 11.9201 16.7125C12.1117 16.9042 12.3492 17 12.6326 17ZM12.6326 13C12.9159 13 13.1534 12.9042 13.3451 12.7125C13.5367 12.5208 13.6326 12.2833 13.6326 12V8C13.6326 7.71667 13.5367 7.47917 13.3451 7.2875C13.1534 7.09583 12.9159 7 12.6326 7C12.3492 7 12.1117 7.09583 11.9201 7.2875C11.7284 7.47917 11.6326 7.71667 11.6326 8V12C11.6326 12.2833 11.7284 12.5208 11.9201 12.7125C12.1117 12.9042 12.3492 13 12.6326 13ZM12.6326 22C11.2492 22 9.94923 21.7375 8.73257 21.2125C7.5159 20.6875 6.45757 19.975 5.55757 19.075C4.65757 18.175 3.94507 17.1167 3.42007 15.9C2.89507 14.6833 2.63257 13.3833 2.63257 12C2.63257 10.6167 2.89507 9.31667 3.42007 8.1C3.94507 6.88333 4.65757 5.825 5.55757 4.925C6.45757 4.025 7.5159 3.3125 8.73257 2.7875C9.94923 2.2625 11.2492 2 12.6326 2C14.0159 2 15.3159 2.2625 16.5326 2.7875C17.7492 3.3125 18.8076 4.025 19.7076 4.925C20.6076 5.825 21.3201 6.88333 21.8451 8.1C22.3701 9.31667 22.6326 10.6167 22.6326 12C22.6326 13.3833 22.3701 14.6833 21.8451 15.9C21.3201 17.1167 20.6076 18.175 19.7076 19.075C18.8076 19.975 17.7492 20.6875 16.5326 21.2125C15.3159 21.7375 14.0159 22 12.6326 22ZM12.6326 20C14.8659 20 16.7576 19.225 18.3076 17.675C19.8576 16.125 20.6326 14.2333 20.6326 12C20.6326 9.76667 19.8576 7.875 18.3076 6.325C16.7576 4.775 14.8659 4 12.6326 4C10.3992 4 8.50757 4.775 6.95757 6.325C5.40757 7.875 4.63257 9.76667 4.63257 12C4.63257 14.2333 5.40757 16.125 6.95757 17.675C8.50757 19.225 10.3992 20 12.6326 20Z" fill="#B00002"/>
               </svg>
               <div class="error_message">This field is required. </div>
            </div>
         </div>
       </div>


       <div class="row ">
  <div class="col-md-3">

  <label for="departments">Departments</label>
  <div class="required-field">Required</div>
  </div>
  <div class="col-md-9">

  <select id="departments" name="departments[]"  aria-label="project department" required value class="form-select" multiple >
               <% Affiliation.all.each do |affiliation| %>
               <% if @project.departments.include?(affiliation[:code]) %>
               <option selected><%= affiliation[:code] %></option>
               <% else %>
               <option><%= affiliation[:code] %></option>
               <% end %>
                <% end %>
            </select>
  </div>
</div>
</div>

<div class="row ">
  <div class="col-md-3">
  <label for="description">Description</label>


  </div>
  <div class="col-md-9">

  <textarea type="text" id="description"  aria-label="project description" name="description" class="input-text-long"
            rows="5" cols="72" placeholder=""><%= @project.metadata_model.description %></textarea>

  </div>
</div>


<!-- Keeps track of added read-only and read-write users -->
<input type="text" id="ro_user_counter" name="ro_user_counter" value="0" style="display:none;"/>
<input type="text" id="rw_user_counter" name="rw_user_counter" value="0" style="display:none;"/>
<div class="actions">
   <button type=submit value="Submit" class="btn btn-primary" id="submit-btn">Submit</button>
   <% if params[:action] == 'edit' %>
   <%= link_to "Cancel", @project, class: "btn btn-secondary", id: "cancel-btn" %>
   <% else %>
   <%= link_to "Cancel", root_path, class: "btn btn-secondary", id: "cancel-btn" %>
   <% end %>
</div>



</div>
