<%= render 'form_errors' %>
<div id="edit">
   <h2>Project Roles</h2>

   <div class="row ">
      <div class="col-md-3">
         <label for="data_sponsor">Data Sponsor</label>
         <div class="required-field">Required</div>
      </div>
      <div class="col-md-9">
         <% if current_user.superuser? %>
            <input type="text" id="data_sponsor" aria-label="data sponsor" name="data_sponsor" required oninvalid="this.setCustomValidity('')"
               oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.data_sponsor %>" /></input>
            <div class="custom_error" id="sponsor_error" aria-live="polite">
               <%= image_tag("custom_error.svg", alt: "This field is required") %>
               <div class="error_message">This field is required. </div>
            </div>
         <span class="autocomplete-arrow"></span>
         <% else %>
            <input type="hidden" id="data_sponsor" name="data_sponsor" oninvalid="this.setCustomValidity('')"
               oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.data_sponsor || current_user.uid %>">
            <span id="non-editable-data-sponsor"><%= @project.metadata_model.data_sponsor || current_user.uid %></span>
         <% end %>
      </div>
   </div>

   <div class="row ">
      <div class="col-md-3">
         <label for="data_manager">Data Manager</label>
         <div class="required-field">Required</div>
      </div>
      <div class="col-md-9">
         <% if !@project.persisted? || @project.metadata_model.data_sponsor == current_user.uid %>
         <input type="text" id="data_manager" aria-label="data manager" name="data_manager" required oninvalid="this.setCustomValidity('')"
               oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.data_manager %>" /></input>
         <div class="custom_error" id="manager_error" aria-live="polite">
            <%= image_tag("custom_error.svg", alt: "This field is required") %>
            <div class="error_message">This field is required. </div>
         </div>
      </div>
         <span class="autocomplete-arrow"></span>
         <% else %>
         <input type="hidden" id="data_manager" aria-label="data manager"  name="data_manager" value="<%= @project.metadata_model.data_manager %>">
         <span id="non-editable-data-manager"><%= @project.metadata_model.data_manager %></span>
         <% end %>
      </div>
   </div>

   <label>Data User(s)</label>
   <div class="row ">
      <div class="col-md-3">
         <label for="ro-user-uid-to-add">Read Only</label>
      </div>
      <div class="col-md-9">
         <div class="data-users">
            <ul id="ro-users-list">
               <% (@project.metadata_model.ro_users || []).compact.each do |user| %>
               <span class="ro-user-item" data-uid="<%= user %>"></span>
               <% end %>
            </ul>
            <div class="add_new_uer_div">
               <input id="ro-user-uid-to-add"  list="all-users"  placeholder="netid" class="add_new_user_textbox"></input>
               <span class="autocomplete-arrow"></span>
               <input type="submit" value="Add User" id="btn-add-ro-user" class="btn btn-secondary"  title="Adds a read only user"/>
               <span id="add-ro-user-message"></span>
            </div>
         </div>
      </div>
   </div>

   <div class="row ">
      <div class="col-md-3">
         <label for="rw-user-uid-to-add">Read/Write</label>
      </div>
      <div class="col-md-9">
         <div class="data-users">
            <ul id = "rw-users-list">
               <% (@project.metadata_model.rw_users || []).compact.each do |user|%>
               <span class="rw-user-item" data-uid="<%= user %>"></span>
               <%end%>
            </ul>
            <div class="add_new_user_div">
               <input id = "rw-user-uid-to-add"  list="all-users"  placeholder = "netid" class="add_new_user_textbox"> </input>
               <span class="autocomplete-arrow"></span>
               <input type="submit" value="Add User" id="btn-add-rw-user" class="btn btn-secondary" title="Adds a read write user"/>
               <span id = "add-rw-user-message"></span>
            </div>
         </div>
      </div>
   </div>

   <h2>Project Description</h2>
      <% if current_user.superuser? %>
         <div class="row ">
            <div class="col-md-3">
               <label for="project_id">Project ID</label>
            </div>
            <div class="col-md-9">
               <input type="text" id="project_id" aria-label="project id" name="project_id" value="<%= @project.metadata_model.project_id %>" /></input>
            </div>
         </div>
      <% end %>
      <div class="row ">
         <div class="col-md-3">
            <label for="title">Title</label>
            <div class="required-field">Required</div>
         </div>
         <div class="col-md-9">
            <div id="edit">
            <input type="text" id="title" name="title"  aria-label="project title" required oninvalid="this.setCustomValidity('')" oninput="this.setCustomValidity('')" value="<%= @project.metadata_model.title %>" />
            <div class="custom_error" id="title_error" aria-live="polite">
               <%= image_tag("custom_error.svg", alt: "This field is required") %>
               <div class="error_message">This field is required. </div>
            </div>
         </div>
         </div>
      </div>

         <% if @project.in_mediaflux? %>
         <!--
            Make the field readonly so the user cannot change it, but leave it as an HTML INPUT so that it is
            send back to the controller (we don't want to lose this value)
            -->
            <div class="row ">
           <div class="col-md-3">
           <label for="project_directory">Project Directory <%= @project.project_directory_parent_path %>/</label>


           </div>
           <div class="col-md-9">
           <input type="text" aria-label="project directory" id="project_directory" name="project_directory" readonly value="<%= @project.project_directory_short %>" />
           </div>
         </div>

         <% if (current_user.superuser? || current_user.eligible_sysadmin?) %>
         <div class="row ">
   <div class="col-md-3">
   <label>MediaFlux ID</label>
  <div class="col-md-3">
  <label>MediaFlux ID</label>


  </div>
  <div class="col-md-9">
  <input readonly value="<%= @project.mediaflux_id %>" />
         <p class="mediaflux-tooltip">This project has already been saved to Mediaflux and the project_directory cannot be changed</p>
  </div>

         <% end %>

         <% end %>

         <div class="row ">
         <div class="col-md-3">
         <label for="project_directory">Directory Path</label>
         <div class="required-field">Required</div>
         <div class="required-field">Required</div>
         </div>
         <div class="col-md-9">
         <div id="edit">
         <span class="path-info"><%= @project.project_directory_parent_path %>/ </span>
         <input type="text" aria-label="project directory" id="project_directory" name="project_directory" required oninvalid="this.setCustomValidity('')" oninput="this.setCustomValidity('')" value="<%= @project.project_directory_short %>" pattern="[\w\p{L}\-]{1,64}" />
            <div class="custom_error" id="directory_error" aria-live="polite">
               <%= image_tag("custom_error.svg", alt: "This field is required") %>
               <div class="error_message">This field is required. </div>
            </div>
         </div>
       </div>


       <div class="row ">
  <div class="col-md-3">

  <label for="departments">Departments</label>
  <div class="required-field">Required</div>
  </div>
  <div class="col-md-9">

  <select id="departments" name="departments[]"  aria-label="project department" required value class="form-select" multiple >
               <% Affiliation.all.each do |affiliation| %>
               <% if @project.departments.include?(affiliation[:code]) %>
               <option selected><%= affiliation[:code] %></option>
               <% else %>
               <option><%= affiliation[:code] %></option>
               <% end %>
                <% end %>
            </select>
  </div>
</div>
</div>

<div class="row ">
  <div class="col-md-3">
  <label for="description">Description</label>


  </div>
  <div class="col-md-9">

  <textarea type="text" id="description"  aria-label="project description" name="description" class="input-text-long"
            rows="5" cols="72" placeholder=""><%= @project.metadata_model.description %></textarea>

  </div>
</div>


<!-- Keeps track of added read-only and read-write users -->
<input type="text" id="ro_user_counter" name="ro_user_counter" value="0" style="display:none;"/>
<input type="text" id="rw_user_counter" name="rw_user_counter" value="0" style="display:none;"/>
<div class="actions">
   <button type=submit value="Submit" class="btn btn-primary" id="submit-btn">Submit</button>
   <% if params[:action] == 'edit' %>
   <%= link_to "Cancel", @project, class: "btn btn-secondary", id: "cancel-btn" %>
   <% else %>
   <%= link_to "Cancel", root_path, class: "btn btn-secondary", id: "cancel-btn" %>
   <% end %>
</div>



</div>

<script>
   $(function() {
      // Setup the autocomplete for a given `elementId` with the `data` provided.
      // Autocomplete documentation: https://github.com/devbridge/jQuery-Autocomplete
      var setupAutocomplete = function(elementId, data) {
         $(elementId).autocomplete({
            minChars: 0,
            autoSelectFirst: true,
            lookup: data,
            onSelect: function (suggestion) {
               $(elementId).val(suggestion.data);
            }
         });
      }

      // Give focus to the autocomplete textbox when the arrow is clicked
      $(".autocomplete-arrow").on("click", function (event) {
         $(event.currentTarget).prev().focus();
         return false;
      })

      setupAutocomplete("#data_sponsor", [ <%= sponsor_list_json %> ]);
      setupAutocomplete("#data_manager", [ <%= manager_list_json %> ]);
      setupAutocomplete("#ro-user-uid-to-add", [ <%= all_users_list_json %> ]);
      setupAutocomplete("#rw-user-uid-to-add", [ <%= all_users_list_json %> ]);
   });
</script>

</div></div>
