<section class="inline-container">

  <div class="lux row">
    <file-browser
      :files='<%= @explorer_files.to_json %>'
      directory-list-url="<%= project_directory_listing_url(@project) %>"
      current-path="<%= @presenter.project_directory %>"
      current-collection="<%= @presenter.collection_info %>"
      :file-display-limit="<%= @presenter.project_file_display_limit %>"
    >
    </file-browser>
  </div>
  <section>
