<div id="project-details-heading">

  <div class="title-row">
    <div class="heading-frame">
      <h1><%= @presenter.title %></h1>
      <div class="heading-decoration"></div>
    </div>
    <div class="project-status">
      <div class="status <%= @presenter.status.downcase %>">
        <%= @presenter.status %>
      </div>
    </div>
  </div><!-- title-row -->

  <div class="row">
    <div class="col-lg-6"><!-- .col -->
      <div class="project-info">
        <div id="project-description">
          <div id="description-text" class="truncate">
            <%= @presenter.description %>
          </div>
          <a id="show-more-less-link" class="show-more" href="#"><span>more</span></a>
        </div><!-- #project-description -->

        <div class="date-and-data-info-single">
          <span class="label" id="project-path-copy">Project Directory:</span> <%= @presenter.project_directory %>
          <button id="copy-project-path-button-heading" class="btn copy-paste-button-sizer copy-project-path-icon" data-url="<%= @presenter.project_directory %>" title="Copy project path to the clipboard">
            <div class="pul-copy-paste-tooltip">
              <span id="copy-project-path-label-heading" class="copy-project-path-label-text copy-project-path-label-normal pul-copy-paste-tooltiptext">Copy</span>
            </div>
          </button>
        </div>
        <div class="date-and-data-info">
          <div class="left-item"> <span class="label">Date Created:</span> <%= @presenter.created %> </div>
          <div> <span class="label">Last updated:</span> <%= @presenter.updated %> </div>
        </div>
        <div class="date-and-data-info">
          <div class="left-item"><span class="label">Data Sponsor:</span> <%= @presenter.data_sponsor.display_name_only_safe %><span class="lux-badge lux-badge-gray badge-text lux-badge-inline"><%= @presenter.data_sponsor&.uid %></span></div>
          <div><span class="label">Data Manager:</span> <%= @presenter.data_manager.display_name_only_safe %><span class="lux-badge lux-badge-gray badge-text lux-badge-inline"><%= @presenter.data_manager&.uid %></span></div>
        </div>
      </div><!-- .project-info -->
    </div><!-- .col -->

    <div class="col-lg-6">
      <div class="row">
        <div class="storage-quota container-fluid px-3 py-2 border border-secondary me-0">
          <div class="row mt-2 mb-4">
            <div class="col-6">
              <b>Storage</b> <span class="storage-quota-total text-secondary">(<%= @presenter.formatted_storage_capacity(session_id: current_user.mediaflux_session) %> GB)</span>
            </div>
            <div class="col-6 text-end">
              <% if @presenter.can_increase_quota?(user: current_user) %>
                <%= link_to "Details", "https://tigerdata.princeton.edu/form/quota-increase-request", target: "_blank", onclick: "log_plausible_request_more();" %>
              <% end %>
            </div>
          </div>
          <div class="row my-2">
            <div class="progress" role="progressbar" aria-label="Storage quota usage" aria-valuenow="<%= @presenter.formatted_quota_percentage(session_id: current_user.mediaflux_session) %>" aria-valuemin="0" aria-valuemax="100">
              <span class="progress-bar" style="width: <%= @presenter.quota_percentage_old_versions %>%"></span>
              <span class="progress-bar2" style="background-color: #00E775; width: <%= @presenter.quota_percentage_files %>%"></span>
              <span class="progress-bar3" style="background-color: #717171; width: <%= @presenter.quota_percentage_recycle_bin %>%"></span>
            </div>
          </div>
          <div class="row my-2">
            <%= @presenter.quota_usage(session_id: current_user.mediaflux_session) %>
          </div>
        </div>
      </div><!-- .row -->
    </div><!-- .col -->
  </div><!-- .row -->
</div><!-- #project-details-heading -->

<script type="module">

// https://rubyyagi.com/how-to-truncate-long-text-and-show-read-more-less-button/
var $element = $('#description-text')[0];
      if ($element !== undefined) {
        var textTruncated = ($element.offsetHeight < $element.scrollHeight || $element.offsetWidth < $element.scrollWidth)
        if (!textTruncated) {
          $('#show-more-less-link').addClass("invisible");
        }
      }
      const ExcerptWidget = {
        showMore: function(showMoreLinksTarget, excerptTarget) {
         const showMoreLinks = document.querySelectorAll(showMoreLinksTarget);

          showMoreLinks.forEach(function(link) {
             const excerpt = document.querySelector(excerptTarget);
             showMoreLess.showMore(link, excerpt);
           });
          }
         };
         ExcerptWidget.showMore('.show-more', '#description-text');
</script>