<div id="project-details-heading">

<% alert_class = if @project.pending?
    "alert-warning"
  else
    "alert-success"
  end %>

  <div class="row">
  <div class="col-12 col-md-8"> 
  <h1><%= @project.title %></h1>
  </div>
  <div class="col-6 col-md-4">  <div class="alert <%= alert_class %> status" role="alert">
  <%= @project.status %>
</div></div>
</div>
  
  
<div class="heading-decoration"></div>

  <div id="project-description">
    <div id="description-text" class="truncate">
      <%= @project.description %>
    </div>
    <a id="show-more-less-link" class="show-more" href="#"><span>more...</span></a>
</div>

<div class="row">
  <div class="col-12">
    <div class="date-and-data-info">
      <ul> 
        <li><span class="label">Date Created:</span> <%= @project.created %></li>
        <li><span class="label">Last updated:</span> <%= @project.updated %></li>
      </ul>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="date-and-data-info">
      <ul> 
        <li><span class="label">Data Sponsor:</span> <%= @project.data_sponsor %></li>
        <li><span class="label">Data Manager:</span> <%= @project.data_manager %></li>
      </ul>
    </div>
  </div>
</div>
</div>

<script>


/* Let's Build: With JavaScript - Web-Crunch.com
   Subscribe on YouTube - https://youtube.com/c/webcrunch
   
   Let's Build: Show More and Show Less - With a dash of Object Oriented Programming
*/

const Utils = {
  
  addClass: function(element, theClass) {
    element.classList.add(theClass);
  },
  
  removeClass: function(element, theClass) {
    element.classList.remove(theClass);
  },
  
  showMore: function(element, excerpt) {
    element.addEventListener("click", event => {
      const linkText = event.target.textContent.toLowerCase();
      event.preventDefault();
      
      console.log(this);
      if (linkText == "more...") {
        element.textContent = "less...";
        this.removeClass(excerpt, "truncate");
        this.addClass(excerpt, "excerpt-visible");
      } else {
        element.textContent = "more...";
        this.removeClass(excerpt, "excerpt-visible");
        this.addClass(excerpt, "truncate");
      }
    });
  } 
};

const ExcerptWidget = {
  showMore: function(showMoreLinksTarget, excerptTarget) {
   const showMoreLinks = document.querySelectorAll(showMoreLinksTarget);
    
   showMoreLinks.forEach(function(link) {
     const excerpt = document.querySelector(excerptTarget);
     Utils.showMore(link, excerpt);
   });
  }
};
 
ExcerptWidget.showMore('.show-more', '#description-text');

</script>
