<%= render partial: "project_details_heading" %>

<content id= "content">
  <div class="container">
    <div id="project-nav">
      <button id="project-content" class="tab-nav"> Content Preview </button>
      <button id="project-details" class="tab-nav"> Details </button>
      <button id="project-script" class="tab-nav"> View Create Script </button>
      <button id="project-approval" class="tab-nav"> Approval Setting </button>
    </div>
    <div class="row align-items-center contents-summary">
      <div class="col-sm-2 file-inventory">File Inventory:</div>
      <div class="col-sm-2 file-total-label">Total Files: <%= @num_files %></div>
      <div class="col-sm-8 text-end divider">
        <form name="project-contents-preview">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#list-contents-modal">Download Complete List</button>
        </form>
      </div>
    </div>

    <%= render partial: "contents", locals: { files: @files } %>
    <section class="container-fluid px-1 mx-0 my-1 project-contents__navigate">
      <a href="<%= project_path(@project) %>" class="btn btn-primary">Review Metadata</a>
      <a href="<%= root_path %>" class="btn btn-secondary">Return to Dashboard</a>
    </section>
    <section class="project-alerts my-4">
      <div class="row">
        <div class="col">
          <div id="project-alert" class="alert alert-primary d-none my-1" role="alert" ></div>
        </div>
      </div>
    </section>
  </content>

  <!-- Bootstrap Modal -->
  <div class="modal fade" id="list-contents-modal" tabindex="-1" aria-labelledby="list the project contents" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="list-contents-modal-title">List Project Contents</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This will generate a list of <%= @num_files %> files and their attributes in a downloadable CSV. Do you wish to continue?

          <span class="latest-download-link"><%= render partial: "latest_download_link", locals: { project: @project } if @latest_completed_download %></span>
        </div>
        <div class="modal-footer">
          <button type="button" id="request-list-contents" class="btn btn-success" data-list-contents-path="<%= project_list_contents_path %>" >Yes</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="module">
    // Setup the DataTables
    projectStyle('<%= @project_session %>');
    projectTab();
    setupTable('#project-contents');
</script>