<style>
  #file-list {
    width:90%;
    border: 1px solid gray;
  }

  #file-list > tbody > tr > th {
    background-color: #dddcdc;
  }

  .numeric_column {
    text-align: right;
  }
</style>
<content id= "content">
<h1>Project Contents</h1>
<h2> Contents Summary </h2>
<section class="container-fluid px-1 m-1 project-contents__summary">
  <dl>
    <dt>File Count</dt> <dd id="file_count"><%=@num_files %> </dd>
  </dl>
</section>
<section class="container-fluid px-1 mx-2 my-4 project-contents__preview">
  <div>
    <h2>Contents Preview</h2>
    <table id="file-list">
      <tr>
        <th>Path</th>
        <th>Name</th>
        <th class="numeric_column">Size</th>
        <th class="numeric_column">Last modified</th>
      </tr>
      <% current_folder = nil %>
      <% @file_list[:files].each do |file| %>

        <% if current_folder != file.path_only %>
          <!--
            Print the folder information row.
            Notice that depending how the data comes back from Mediaflux we might see the
            collection record first or a _file_ under the collection first.
          -->
          <% current_folder = file.path_only %>
          <tr>
            <td><b><%= current_folder %>/</b></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        <% end %>

        <% unless file.collection %>
          <!-- Print the file information row -->
          <tr>
            <td>&nbsp;</td>
            <td><%= file.name %> </td>
            <td class="numeric_column"><%= number_to_human_size(file.size) %></td>
            <td class="numeric_column"><%= file.last_modified %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <form name="project-contents-preview">
    <button type="button" class="btn btn-primary">Show More</button>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#list-contents-modal">List All Files</button>
    <button type="button" class="btn btn-dark">Custom Query</button>
  </form>
</section>
<section class="container-fluid px-1 mx-0 my-1 project-contents__navigate">
  <nav>
    <button type="button" class="btn btn-primary">Review Metadata</button>
    <a href="<%= root_path %>" class="btn btn-secondary">Return to Dashboard</a>
  </nav>
</section>
<section class="project-alerts my-4">
  <div class="row">
    <div class="col">
      <div id="project-alert" class="alert alert-primary d-none my-1" role="alert" ></div>
    </div>
  </div>
</section>
</content>

<!-- Bootstrap Modal -->
<div class="modal fade" id="list-contents-modal" tabindex="-1" aria-labelledby="list the project contents" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="list-contents-modal-title">List Project Contents</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This will generate a list of 1,234,567 files and their attributes in a downloadable CSV. Do you wish to continue?
      </div>
      <div class="modal-footer">
        <button type="button" id="request-list-contents" class="btn btn-success" data-list-contents-path="<%= project_list_contents_path %>" >Yes</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
