<%= render partial: "project_details_heading" %>
<show id="show">
<div id="project-nav">
   <button id="project-content" class="tab-nav"> Content Preview </button>
   <button id="project-details" class="tab-nav"> Details </button>
</div>
<div class="basic-details-container lux">
   <div class="basic-details-navigation">
      <ul>
         <li><a id="basic-details-link" href="#basic-details-section">Basic Details</a></li>
         <li><a id="roles-and-people-link" href="#roles-and-people-section">Roles and People</a></li>
         <li><a id="storage-and-access-link" href="#storage-and-access-section">Storage and Access</a></li>
         <li><a id="provenance-link" href="#provenance-section">Provenance</a></li>
      </ul>
   </div>
   <div class="basic-details-panel">
      <ul class="details basic-details-fields">
         <div class="detail-heading">
            <div class="heading-text" id="basic-details-section">Basic Details
               <% # Removing edit until SpaceGhost https://github.com/pulibrary/tigerdata-app/issues/1509 %>
               <% # link_to "Edit", edit_project_path(@project.id), id:"revisible-heading", class: "btn btn-primary btn-sm" %>
            </div>
         </div>
         <div class="detail-pair">
            <li class="detail-subheading">Project Title</li>
            <p class="detail-value"><%= @presenter.title %></p>
         </div>
         <div class="detail-pair">
            <li class="detail-subheading">Project ID</li>
            <p class="detail-value"><%= @presenter.project_id %></p>
         </div>
         <div class="detail-pair">
            <li class="detail-subheading">Project Directory</li>
            <p class="detail-value"><%= @presenter.project_directory %>
          <button id="copy-project-path-button-basic" class="btn copy-paste-button-sizer copy-project-path-icon copy-paste-frames" data-url="<%= @presenter.project_directory %>" title="Copy project path to the clipboard">
          <div class="pul-copy-paste-tooltip" data-url="<%= @presenter.project_directory %>">
            <span id="copy-project-path-label-basic" class="copy-project-path-label-text copy-project-path-label-normal pul-copy-paste-tooltiptext">Copy</span>
                </div>
              </button>
            </p>
         </div>
         <div class="detail-pair">
            <li class="detail-subheading">Project Purpose</li>
            <p class="detail-value" id="project-purpose-value">
               <% if @presenter.project_purpose.blank? %>
                 <strong class="px-0">&mdash;</strong>
               <% else %>
                 <%= @presenter.project_purpose %>
               <% end %>
            </p>
         </div>
         <div class="description-detail-pair">
            <li class="detail-subheading">Project Description</li>
            <p id="description-text-full" class="detail-value"><%= @presenter.description %></p>
         </div>
         <div class="departments-detail-pair">
            <li class="detail-subheading">Department(s)</li>
            <p class="detail-value">
               <% if @presenter.departments.empty? %>
                 <strong class="px-0">&mdash;</strong>
               <% else %>
                 <div class="departments-group">
                   <% @presenter.department_codes.each do |dept|%>
                     <div class="departments-container">
                       <lux-badge class="lux-badge lux-badge-white departments">
                         <div class="badge-text"><%= dept.second %></div>
                       </lux-badge>
                       <div class="departments-name"><%= dept.first %> </div>
                     </div>
                   <%end%>
                 </div>
               <% end %>
            </p>
         </div>
         <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="1" viewBox="0 0 1200 1" fill="none">
            <path d="M6.36558e-08 0.5L1200 0.500105" stroke="#EEEEEE"/>
         </svg>
      </ul>
      <ul class="details basic-details-fields">
         <div class="detail-heading">
            <div class="heading-text" id="roles-and-people-section">Roles and People
               <% # Removing edit until SpaceGhost https://github.com/pulibrary/tigerdata-app/issues/1509 %>
               <% # link_to "Edit", edit_project_path(@project.id), id:"revisible-heading", class: "btn btn-primary btn-sm" %>
            </div>
         </div>
         <div class="detail-pair">
            <li class="detail-subheading">Data Sponsor</li>
            <p class="detail-value"><%= render partial: 'shared/user_display', locals: {user_name: @presenter.data_sponsor.display_name_only_safe, user_id: @presenter.data_sponsor.uid }%></p>
         </div>
         <div class="detail-pair">
            <li class="detail-subheading">Data Manager</li>
            <p class="detail-value"><%= render partial: 'shared/user_display', locals: {user_name: @presenter.data_manager.display_name_only_safe, user_id: @presenter.data_manager.uid }%></p>
         </div>
         <div class="users-detail-pair">
            <li class="detail-subheading">Data User(s)</li>
            <p class="detail-value">
               <% if @presenter.data_users.count == 0 %>
                 <strong class="px-0">&mdash;</strong>
               <% else %>
                 <div class="users-detail-table">
                    <% @presenter.data_users.each do |user| %>
                        <div class="detail-row<%= "-last" if user == @presenter.data_users.last %>">
                           <div class="detail-subheading"><%= render partial: 'shared/user_display', locals: {user_name: user.display_name, user_id: user.uid }%></div>
                           <div class="detail-value"><%= user.access_type %></div>
                        </div>
                    <% end %>
                 </div>
               <% end %>
            </p>
         </div>
         <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="1" viewBox="0 0 1200 1" fill="none">
            <path d="M6.36558e-08 0.5L1200 0.500105" stroke="#EEEEEE"/>
         </svg>
      </ul>
      <ul class="details basic-details-fields">
         <div class="detail-heading">
            <div class="heading-text" id="storage-and-access-section">Storage and Access</div>
         </div>
         <ul class="sub-details basic-details-fields">
            <div class="detail-sub-heading">
               <div class="heading-text">Storage Capacity</div>
            </div>
            <div class="detail-pair">
               <li class="detail-subheading">Requested</li>
               <p class="detail-value"><%= "#{@requested_size} #{@requested_unit}" %></p>
            </div>
            <div class="detail-pair">
               <li class="detail-subheading">Approved</li>
               <p class="detail-value"><%= "#{@approved_size} #{@approved_unit}" %></p>
            </div>
         </ul>
         <div class="detail-pair">
            <li class="detail-subheading">Estimated Number of Files</li>
            <p class="detail-value"><%= @presenter.number_of_files %></p>
         </div>
         <div class="sub-details basic-details-fields">
            <div class="connections-detail-pair">
              <div class="detail-subheading">Connection Options</div>

              <div class="connections-detail-table">
                <div class="detail-row" id="hpc-access">
                  <div class="detail-subheading">HPC Access</div>
                  <div class="detail-value"><%= @presenter.hpc %></div>
                </div>
                <div class="detail-row" id="smb-access">
                  <div class="detail-subheading">SMB Access</div>
                  <div class="detail-value"><%= @presenter.smb %></div>
                </div>
                <div class="detail-row-last" id="globus-access">
                  <div class="detail-subheading">Globus Transfer Access</div>
                  <div class="detail-value"><%= @presenter.globus %></div>
                </div>
              </div>
            </div>
         </div>
         <ul class="sub-details basic-details-fields">
            <% if @project.in_mediaflux? && (current_user.developer? || current_user.eligible_sysadmin?) %>
               <div class="detail-pair">
                  <li class="detail-subheading mediaflux-id">Mediaflux ID</li>
                  <p class="detail-value"><%= @project.mediaflux_id %></p>
               </div>
            <% elsif !@project.in_mediaflux? %>
               <li class="detail-subheading mediaflux-id">Mediaflux ID</li>
               <p class="detail-value">This project has not been saved to Mediaflux</p>
            <% end %>

         </ul>
         <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="1" viewBox="0 0 1200 1" fill="none">
            <path d="M6.36558e-08 0.5L1200 0.500105" stroke="#EEEEEE"/>
         </svg>

      <ul class="details basic-details-fields">
         <div class="detail-heading">
            <div class="heading-text" id="provenance-section">Provenance</div>
         </div>
         <ul class="sub-details basic-details-fields">
            <div class="detail-sub-heading">Submission</div>
            <div class="detail-pair">
               <div class="detail-sub-heading provenance-info"> Requested by</div>
               <div class="provenance-value"> <%=  @presenter.requested_by_display_name %> </div>
               <lux-badge class="lux-badge lux-badge-grey">
                  <div class="badge-text"><%= @presenter.requested_by_uid %></div>
               </lux-badge>
            </div>
            <div class="detail-pair">
               <div class="detail-sub-heading provenance-info"> Requested Date–Time </div>
               <div class="provenance-value"> <%= @presenter.requested_on.keys.first %> <%= @presenter.requested_on.values.first %> </div>
            </div>
            <div class="detail-pair">
               <div class="detail-sub-heading provenance-info">Approved by</div>
               <div class="provenance-value"> <%=  @presenter.approved_by_display_name %> </div>
               <lux-badge class="lux-badge lux-badge-grey">
                  <div class="badge-text"><%= @presenter.approved_by_uid %></div>
               </lux-badge>
            </div>
            <div class="detail-pair">
               <div class="detail-sub-heading provenance-info"> Approval Date–Time</div>
               <div class="provenance-value"> <%= @presenter.approved_on.keys.first %> <%= @presenter.approved_on.values.first %></div>
            </div>
         </ul>
         <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="1" viewBox="0 0 1200 1" fill="none">
            <path d="M6.36558e-08 0.5L1200 0.500105" stroke="#EEEEEE"/>
         </svg>
      </ul>
   </div>
</div>

<% if @show_quota_breakdown %>
   <h2>Quota breakdown</h2>
   <p>quota-allocation: <%= @presenter.quota_breakdown[:quota_allocation] %></p>
   <p>quota-allocation-human: <%= @presenter.quota_breakdown[:quota_allocation_human] %></p>
   <p>quota_used: <%= @presenter.quota_breakdown[:quota_used] %></p>
   <p>quota_used_human: <%= @presenter.quota_breakdown[:quota_used_human] %></p>
   <p>project_files: <%= @presenter.quota_breakdown[:project_files] %></p>
   <p>project_files_human: <%= @presenter.quota_breakdown[:project_files_human] %></p>
   <p>recycle_bin: <%= @presenter.quota_breakdown[:recycle_bin] %></p>
   <p>recycle_bin_human: <%= @presenter.quota_breakdown[:recycle_bin_human] %></p>
   <p>old_versions: <%= @presenter.quota_breakdown[:old_versions] %></p>
   <p>old_versions_human: <%= @presenter.quota_breakdown[:old_versions_human] %></p>
   <p>quota_percentage_old_versions_calc: <%= @presenter.quota_percentage_old_versions %></p>
   <p>quota_percentage_recycle_bin_calc: <%= @presenter.quota_percentage_recycle_bin %></p>
   <p>quota_percentage_files_calc: <%= @presenter.quota_percentage_files %></p>
<% end %>

<script type="module">
   projectStyle('<%= @project_session %>');
   projectTab("<%= project_path %>", "<%= project_details_path %>");

   $(window).scroll(function() {
    var storage_hT = $('#basic-details-section').offset().top,
      storage_hH = $('#basic-details-section').outerHeight(),
      wH = $(window).height(),
      wS = $(this).scrollTop();
    if (wS > (storage_hT+storage_hH-wH)){
      $("#storage-and-access-link").removeClass("active-header");
      $("#basic-details-link").addClass("active-header");
      $("#roles-and-people-link").removeClass("active-header");
      $("#provenance-link").removeClass("active-header");
     }

     var storage_hT = $('#roles-and-people-section').offset().top,
      storage_hH = $('#roles-and-people-section').outerHeight(),
      wH = $(window).height(),
      wS = $(this).scrollTop();
    if (wS > (storage_hT+storage_hH-wH)){
      $("#storage-and-access-link").removeClass("active-header");
      $("#basic-details-link").removeClass("active-header");
      $("#roles-and-people-link").addClass("active-header");
      $("#provenance-link").removeClass("active-header");
     }

     var storage_hT = $('#storage-and-access-section').offset().top,
      storage_hH = $('#storage-and-access-section').outerHeight(),
      wH = $(window).height(),
      wS = $(this).scrollTop();
    if (wS > (storage_hT+storage_hH-wH)){
      $("#storage-and-access-link").addClass("active-header");
      $("#basic-details-link").removeClass("active-header");
      $("#roles-and-people-link").removeClass("active-header");
      $("#provenance-link").removeClass("active-header");
     }

     var storage_hT = $('#provenance-section').offset().top,
      storage_hH = $('#provenance-section').outerHeight(),
      wH = $(window).height(),
      wS = $(this).scrollTop();
    if (wS > (storage_hT+storage_hH-wH)){
      $("#storage-and-access-link").removeClass("active-header");
      $("#basic-details-link").removeClass("active-header");
      $("#roles-and-people-link").removeClass("active-header");
      $("#provenance-link").addClass("active-header");
     }
   });
</script>