<%= render partial: "project_details_heading" %>

<show id="show">

<div id="project-nav">
  <button id="project-content" class="tab-nav"> Content Preview </button>
  <button id="project-details" class="tab-nav"> Details </button>
</div>

<div class="details">
  <h2>Basic Details
    <% # Removing edit until SpaceGhost https://github.com/pulibrary/tigerdata-app/issues/1509 %>
    <% # link_to "Edit", edit_project_path(@project.id), id:"revisible-heading", class: "btn btn-primary btn-sm" %>
  </h2>
  <dl>    
    <dt>Project Title</dt>
    <dd><%= @presenter.title %></dd>
    <dt>Project ID</dt>
    <dd id="project_id"><%= @presenter.project_id %></dd>
    <dt>Project Directory</dt>
    <dd><%= @presenter.project_directory %></dd>
    <dt>Project Purpose</dt>
    <dd><%= @presenter.project_purpose %></dd>
    <dt>Project Description:<dt/> 
    <dd><%= @presenter.description %></dd>
    <dt>Department(s)</dt>
    <% if @presenter.departments.empty? %>
      <dd><strong class="px-0">None</strong></dd>
    <% else %>
      <dd>
        <%= @presenter.departments.join(", ") %>
      </dd>
    <% end %>
  </dl>
</div>

<div class="details">
  <h2>Roles and People
    <% # Removing edit until SpaceGhost https://github.com/pulibrary/tigerdata-app/issues/1509 %>
    <% # link_to "Edit", edit_project_path(@project.id), id:"revisible-heading", class: "btn btn-primary btn-sm" %>
  </h2>
  <dl>
    <% if !@presenter.data_sponsor.nil? %>
      <dt>Data Sponsor</dt>
      <dd id="data_sponsor">
        <%= @presenter.data_sponsor.display_name_safe %>
      </dd>
    <% end %>
    <% if !@presenter.data_manager.nil? %>
      <dt>Data Manager</dt>
      <dd id="data_manager">
        <%= @presenter.data_manager.display_name_safe %>
      </dd>
    <% end %>

    <dt>Data User(s)</dt>
    <% if @presenter.data_users.count > 0 %>
      <dd>
        <%= @presenter.data_user_names %>
      </dd>
    <% else %>
      <dd>
        <p>None</p>
      </dd>
    <% end %>
  </dl>
</div>

<div class="details">
  <h2>Storage and Access</h2>
<dl>
    <dt>Storage Capacity</dt>
    <dd>
        <dl>
            <div class="approved-details">
                <dt>Requested</dt>
                <dd><%= "#{@requested_size} #{@requested_unit}" %></dd>
                <dt>Approved</dt>
                <dd><%= "#{@approved_size} #{@approved_unit}" %></dd>
            </div>
        </dl>
    </dd>
    <!-- The HTML &nbsp; is to make sure the `dd` element aligns with the proper `dt` when is empty -->
    <dt>Estimated Number of Files</dt>
    <dd><%= @presenter.number_of_files %>&nbsp;</dd>

    <dt>Connection Options</dt>
    <dd>
        <dl>
            <div>
              <dt>High Performance Computing</dt>
              <dd><%= @presenter.hpc %></dd>

              <dt>Network File Share</dt>
              <dd><%= @presenter.smb %></dd>

              <dt>Globus Transfers</dt>
              <dd><%= @presenter.globus %></dd>
            </div>
        </dl>
    </dd>
</dl>
<% if @project.in_mediaflux? && (current_user.developer? || current_user.eligible_sysadmin?) %>
<dl>
    <dt>Mediaflux id:</dt>
    <dd><%= @project.mediaflux_id %></dd>
</dl>
<% elsif !@project.in_mediaflux? %>
  <p>This project has not been saved to Mediaflux</p>
<% end %>
</div>

<div class="details">
  <h2> Provenance </h2>
  <p class="provenance-header"> Submission </p>
  <ul class>
    <% @provenance_events.each do |event| %>
      <li class="provenance"> <%= event.event_details %>, <%=event.created_at.to_time.in_time_zone("America/New_York").iso8601%>
      <% if current_user.eligible_sysadmin? && event.event_type = ProvenanceEvent::DEBUG_OUTPUT_TYPE && event.event_note %>
        <blockquote>
          <%= event.event_note %>
        </blockquote>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="details">
</div>

<script type="module">
  projectStyle('<%= @project_session %>');
  projectTab("<%= project_path %>", "<%= project_details_path %>");
</script>