<%= render partial: "project_details_heading" %>

<show id="show">

<div id="project-nav">
  <button id="project-content" class="tab-nav"> Content Preview </button>
  <button id="project-details" class="tab-nav"> Details </button>
</div>

<div class="details">
  <h2>Roles
    <% # Removing edit until SpaceGhost https://github.com/pulibrary/tigerdata-app/issues/1509 %>
    <% # link_to "Edit", edit_project_path(@project.id), id:"revisible-heading", class: "btn btn-primary btn-sm" %>
  </h2>
  <dl>
    <% if !@presenter.data_sponsor.nil? %>
      <dt>Data Sponsor</dt>
      <dd id="data_sponsor">
        <%= @presenter.data_sponsor.display_name_safe %>
      </dd>
    <% end %>
    <% if !@presenter.data_manager.nil? %>
      <dt>Data Manager</dt>
      <dd id="data_manager">
        <%= @presenter.data_manager.display_name_safe %>
      </dd>
    <% end %>

    <dt>Data Users</dt>
    <% if @presenter.data_users.count > 0 %>
      <dd>
        <%= @presenter.data_user_names %>
      </dd>
    <% else %>
      <dd>
        <p>None</p>
      </dd>
    <% end %>
  </dl>
</div>

<div class="details">
  <h2>Project Description
    <% # Removing edit until SpaceGhost https://github.com/pulibrary/tigerdata-app/issues/1509 %>
    <% # link_to "Edit", edit_project_path(@project.id), id:"revisible-heading", class: "btn btn-primary btn-sm" %>
  </h2>
  <dl>
    <dt>Departments</dt>
    <% if @presenter.departments.empty? %>
      <dd><strong class="px-0">None</strong></dd>
    <% else %>
      <dd>
        <%= @presenter.departments.join(", ") %>
      </dd>
    <% end %>
    <dt>Project Directory</dt>
    <dd><%= @presenter.project_directory %></dd>
    <dt>Title</dt>
    <dd><%= @presenter.title %></dd>
    <dt>Description:<dt/> <dd><%= @presenter.description %></dd>
  </dl>
</div>

<div class="details">
  <%= render partial: "approved_details" %>
</div>

<div class="details">
  <h2> Provenance </h2>
  <p class="provenance-header"> Submission </p>
  <ul class>
    <% @provenance_events.each do |event| %>
      <li class="provenance"> <%= event.event_details %>, <%=event.created_at.to_time.in_time_zone("America/New_York").iso8601%>
      <% if current_user.eligible_sysadmin? && event.event_type = ProvenanceEvent::DEBUG_OUTPUT_TYPE && event.event_note %>
        <blockquote>
          <%= event.event_note %>
        </blockquote>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="details">
</div>

<script type="module">
  projectStyle('<%= @project_session %>');
  projectTab("<%= project_path %>", "<%= project_details_path %>");
</script>