<%= render partial: "project_details_heading" %>

<show id="show">

<div id="project-nav">
  <button id="project-content" class="tab-nav"> Content Preview </button>
  <button id="project-details" class="tab-nav"> Details </button>
</div>

<ul class="details basic-details-fields">
  <div class="detail-heading">
      <div class="heading-text" id="basic-details-section">Basic Details
    <% # Removing edit until SpaceGhost https://github.com/pulibrary/tigerdata-app/issues/1509 %>
    <% # link_to "Edit", edit_project_path(@project.id), id:"revisible-heading", class: "btn btn-primary btn-sm" %>
  </div>
  </div>
  
  <div class="detail-pair">
    <li class="detail-subheading">Project Title</li>
    <p class="detail-value"><%= @presenter.title %></p>
  </div>

  <div class="detail-pair">
    <li class="detail-subheading">Project ID</li>
    <p class="detail-value"><%= @presenter.project_id %></p>
  </div>

  <div class="detail-pair">
    <li class="detail-subheading">Project Directory</li>
    <p class="detail-value"><%= @presenter.project_directory %></p>
  </div>

  <div class="detail-pair">
    <li class="detail-subheading">Project Purpose</li>
    <p class="detail-value"><%= @presenter.project_purpose %></p>
  </div>

  <div class="detail-pair">
    <li class="detail-subheading">Department(s)</li>
    <p class="detail-value">
      <% if @presenter.departments.empty? %>
        <strong class="px-0">&mdash;</strong>
      <% else %>
        <%= @presenter.departments.join(", ") %>
      <% end %>
    </p>
  </div>


</ul>

<ul class="details basic-details-fields">
  <div class="detail-heading">
      <div class="heading-text" id="roles-and-people-section">Roles and People
    <% # Removing edit until SpaceGhost https://github.com/pulibrary/tigerdata-app/issues/1509 %>
    <% # link_to "Edit", edit_project_path(@project.id), id:"revisible-heading", class: "btn btn-primary btn-sm" %>
  </div>
  </div>

  <div class="detail-pair">
    <li class="detail-subheading">Data Sponsor</li>
    <p class="detail-value"><%= @presenter.data_sponsor.display_name_safe %></p>
  </div>

  <div class="detail-pair">
    <li class="detail-subheading">Data Manager</li>
    <p class="detail-value"><%= @presenter.data_sponsor.display_name_safe %></p>
  </div>

  <div class="detail-pair">
    <li class="detail-subheading">Data User(s)</li>
    <p class="detail-value">
      <% if @presenter.data_user_names == 0 %>
        <strong class="px-0">&mdash;</strong>
      <% else %>
        <%= @presenter.data_user_names %>
      <% end %>
    </p>
  </div>
</ul>

<ul class="details basic-details-fields">
  <div class="detail-heading">
    <div class="heading-text" id="storange-and-access-section">Storage and Access</div>
  </div>

  <ul class="sub-details basic-details-fields">
    <div class="detail-sub-heading">
      <div class="heading-text">Storage Capacity</div>
    </div>

    <div class="detail-pair">
    <li class="detail-subheading">Requested</li>
    <p class="detail-value"><%= "#{@requested_size} #{@requested_unit}" %></p>
    </div>

    <div class="detail-pair">
    <li class="detail-subheading">Approved</li>
    <p class="detail-value"><%= "#{@approved_size} #{@approved_unit}" %></p>
    </div>
  </ul>

  <div class="detail-pair">
    <li class="detail-subheading">Estimated Number of Files</li>
    <p class="detail-value"><%= @presenter.number_of_files %></p>
  </div>



  <ul class="sub-details basic-details-fields">
    <div class="detail-sub-heading">
      <div class="heading-text">Connection Options</div>
    </div>

    <div class="detail-pair">
    <li class="detail-subheading">High Performance Computing</li>
    <p class="detail-value"><%= @presenter.hpc %></p>
    </div>

    <div class="detail-pair">
    <li class="detail-subheading">Network File Share</li>
    <p class="detail-value"><%= @presenter.smb %></p>
    </div>

    <div class="detail-pair">
    <li class="detail-subheading">Globus Transfer Access</li>
    <p class="detail-value"><%= @presenter.globus %></p>
    </div>
  </ul>

   
<% if @project.in_mediaflux? && (current_user.developer? || current_user.eligible_sysadmin?) %>

  <div class="detail-pair">
  <li class="detail-subheading">Mediaflux ID</li>
  <p class="detail-value"><%= @project.mediaflux_id %></p>
  </div>
<% elsif !@project.in_mediaflux? %>
  <li class="detail-subheading">Mediaflux ID</li>
  <p class="detail-value">This project has not been saved to Mediaflux</p>
  </div>
<% end %>
</ul>

<ul class="details basic-details-fields">
  <div class="detail-heading">
    <div class="heading-text" id="provenance-section">Provenance</div>
  </div>

  <ul class="sub-details basic-details-fields">
    <div class="detail-sub-heading">
      <div class="heading-text">Submission</div>
    </div>
    <% @provenance_events.each do |event| %>
      <li class="provenance"> <%= event.event_details %>, <%=event.created_at.to_time.in_time_zone("America/New_York").iso8601%>
      <% if current_user.eligible_sysadmin? && event.event_type = ProvenanceEvent::DEBUG_OUTPUT_TYPE && event.event_note %>
        <blockquote>
          <%= event.event_note %>
        </blockquote>
      <% end %>
    <% end %>
  </ul>
</ul>

<script type="module">
  projectStyle('<%= @project_session %>');
  projectTab("<%= project_path %>", "<%= project_details_path %>");
</script>