<%= render partial: "project_details_heading" %>

<content id= "content">
  <div class="container-fluid">
    <div id="project-nav">
      <button id="project-content" class="tab-nav"> Content Preview </button>
      <button id="project-details" class="tab-nav"> Details </button>
    </div>
    <div class="row align-items-center contents-summary">
      <div class="col-sm-2 file-inventory">File Inventory:</div>
      <div class="col-sm-2 file-total-label">Total Files: <%= ActiveSupport::NumberHelper.number_to_delimited(@num_files) %></div>
      <div class="col-sm-8 text-end divider">
        <div name="project-contents-preview">
          <button class="btn btn-secondary" popovertarget="list-contents-modal">Download Complete List</button>
        </form>
      </div>
    </div>

    <%= render partial: "contents", locals: { files: @files } %>
    <section class="project-alerts my-4">
      <div class="row">
        <div class="col">
          <div id="project-alert" class="alert alert-primary d-none my-1" role="alert" ></div>
        </div>
      </div>
    </section>
  </content>

</div>

<div popover="auto" id="list-contents-modal" class="pul-popover">
  <div class="modal-content">
    <div class="modal-title-frame"> 
      <div class="model-title">List Project Contents</div>
      <input type=button popovertarget="list-contents-modal" popovertargetaction="hide" class="pul-popover-close" data="cancel"></input>
    </div>
    <div class="draft-content">
      <div class="modal-body">
        This will generate a list of <%= @num_files %> files and their attributes in a downloadable CSV. Do you wish to continue?

        <span class="latest-download-link"><%= render partial: "latest_download_link", locals: { project: @project } if @latest_completed_download %></span>
      </div>
      <div class="button-frame">
        <button type="button" id="request-list-contents" class="btn btn-success" data-list-contents-path="<%= project_list_contents_path %>"
                popovertarget="list-contents-modal" popovertargetaction="hide" >Yes</button>
        <button type="button" class="btn btn-danger" popovertarget="list-contents-modal" popovertargetaction="hide">No</button>
      </div>
    </div>
  </div>
</div>
<script type="module">
    projectStyle('<%= @project_session %>');
    projectTab("<%= project_path %>", "<%= project_details_path %>");
    setupTable('#project-contents');
</script>
