<h1><%= @project.metadata[:title] %></h1>

<div>
  <h2>Roles</h2>
  <p>Data Sponsor: <%= @project.metadata[:data_sponsor] %></p>
  <p>Data Manager: <%= @project.metadata[:data_manager] %></p>
</div>

<div>
  <h2>Project Description</h2>
  <p>Affiliated Departments: <%= @project.departments.join(", ") %></p>
  <p>Project Directory: /tigerdata/<%= @project.metadata[:directory] %></p>
  <p>Title: <%= @project.metadata[:title] %></p>
  <p>Description:<br/>
    <%= @project.metadata[:description] %>
  </p>
</div>

<div>
  <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary btn-sm" %>
</div>
