<h1><%= @project.organization.name %> - <%= @project.name %></h1>
<div>
Id: <%= @project.id %><br/>
Name: <%= @project.name %><br/>
Title: <%= @project.title %><br/>
Path: <%= @project.path %><br/>
Organization: <%= link_to @project.organization.name, organization_path(@project.organization.id ) %><br/>
</div>

<div>
  <b>Files <%= @project.file_count %></b><br/>
  <% @project.files[:files].each do |file| %>
    <li><%= file[:name] %>(<%= file[:id] %>)</br>
  <% end %>
  <% if @project.files[:cursor][:complete] == false %>
      <p>TODO: click here to load more files</p>
  <% end %>
</div>

<div>
  <%= link_to "Add 100 new files", project_add_new_files_path(@project.id) %>
</div>
