<show id="show">
<h1>
Project Details:
<%= @project.title %>
</h1>

<% unless @project.in_mediaflux? %>
  <div class="pending-project">
    Your new project request is in the queue. Please allow 5 business days for our team to review your needs and set everything up. For assistance, please contact tigerdata@princeton.edu.
  </div>
<% end %>

<div class="details">
  <h2>Roles</h2>
  <dl>
    <% if !@data_sponsor.nil? %>
      <dt>Data Sponsor</dt>
      <dd id="data_sponsor">
        <%= @data_sponsor.display_name_safe %>
      </dd>
    <% end %>
    <% if !@data_manager.nil? %>
      <dt>Data Manager</dt>
      <dd id="data_manager">
        <%= @data_manager.display_name_safe %>
      </dd>
    <% end %>

    <dt>Data Users</dt>
    <% if @data_users.present? %>
      <dd>
        <%= @data_user_names %>
      </dd>
    <% else %>
      <dd>
        <strong class="px-0">None</strong>
      </dd>
    <% end %>
  </dl>
</div>

<div class="details">
  <h2>Project Description</h2>
  <dl>
    <dt>Affiliated Departments</dt>
    <% if @departments.empty? %>
      <dd><strong class="px-0">None</strong></dd>
    <% else %>
      <dd><%= @departments %></dd>
    <% end %>
    <dt>Project Directory</dt>
    <dd><%= Rails.configuration.mediaflux["api_root_ns"] %>/<%= @project.metadata[:directory] %></dd>
    <dt>Title</dt>
    <dd><%= @project.metadata[:title] %></dd>
    <dt>Description:<dt/> <dd><%= @project.metadata[:description] %></dd>
  </dl>
</div>

<div class="details">
  <h2>Automatic Settings </h2>
  <dl>
    <dt>Project ID</dt> <dd><%= @project.metadata[:project_id] %></dd>
    <dt>Storage Capacity (Requested)</dt> <dd><%= @project.metadata[:storage_capacity_requested] %></dd>
    <dt>Storage Performance Expectations (Requested)</dt> <dd><%= @project.metadata[:storage_performance_expectations_requested] %></dd>
    <dt>Project Purpose</dt> <dd><%= @project.metadata[:project_purpose] %></dd>
  </dl>
  <% if @project.in_mediaflux? %>
    <p>Mediaflux id: <%= @project.mediaflux_id %></p>
  <% else %>
    <p>This project has not been saved to Mediaflux</p>
  <% end %>
</div>

<div class="details">
  <h2> Provenance </h2>
  <dl>
  <dt> Submission</dt>
      <% @submission_events.each do |event| %>
        <dd> <%= event.event_details %>, <%=event.created_at.to_time.in_time_zone("America/New_York").iso8601%> </dd>
      <% end %>
      <dd></dd>
      <dt>Status</dt> <dd><%=@project_status%></dd>
  </dl>
</div>

<div class="details">
  <%= link_to "Review Contents", project_contents_path(@project), class: "btn btn-primary btn-sm" %>
  <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary btn-sm" %>
  <%= link_to "Return to Dashboard", root_path, class: "btn btn-primary btn-sm" %>
  <%= link_to "Withdraw Project Request", "", class: "btn btn-light btn-sm" %>
</div>

<div class="details">
   <% if @project.mediaflux_id.blank? && current_user.sysadmin %>
    <%= form_with url: project_approve_path(@project), method: :post do |form| %>
      <input type="submit" class="btn btn-secondary btn-sm" value="Approve Project" />
    <% end %>
  <% end %>
</div>
</show>
