<div class="form-field">
  <%= render partial: "/new_project_wizard/form_field_label",
           locals: {field_label: "Project Directory", field_sub_label: "Required"} %>
  <div class="input-frame">
    <div class="project-directory">
      <div class="parent-folder">
        <div class="input-label">
          <div class="label">Parent Folder</div>
          <div class="pul-tooltip">
            <span class="pul-tooltiptext">This it to help you organize all of your projects. It could be the name of a specific group, a research lab, or Data Sponsor.</span>
          </div>
        </div>
        <div class="horizontal-frame">
          <div class="vertical-frame">
            <input class="form-input" type="text" name="request[parent_folder]" id="parent_folder"
                  value="<%= parent_folder %>" placeholder="folder-name"
                  maxlength="200"></input>
            <div class="char-limit">
              <div class="char-limit-text current-count">
              </div>
            </div>
            <div class="input-error parent-folder-error">
              <% if parent_folder_error.count > 0 %>
                <!-- combine the parent and project folder errors for display purposes -->
                <%= (parent_folder_error + project_folder_error).uniq.join(" ") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="project-folder">
        <div class="input-label">
          <div class="label">Project Folder</div>
          <div class="pul-tooltip">
            <span class="pul-tooltiptext">This is for navigating to the files and folders in your project. It should be unique from other projects in the parent folder.</span>
          </div>
        </div>
        <div class="horizontal-frame">
          <div class="vertical-frame">
            <input class="form-input" type="text" name="request[project_folder]" id="project_folder"
                  value="<%= project_folder %>" placeholder="project-name"
                  maxlength="200"></input>
            <div class="char-limit">
            </div>
            <div class="input-error">
              <% if parent_folder_error.count == 0 && project_folder_error.count > 0 %>
                <!-- we only display the project_folder here if there were no parent_folder errors -->
                <%= project_folder_error.join(" ") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>