<% field_sub_label ||= "Required" %>
<div class="form-field project-title">
  <%= render partial: "/new_project_wizard/form_field_label", 
           locals: {field_label: "Project Title", field_sub_label: field_sub_label} %>
  <div class="input-frame">
    <div class="text-input">
      <div class="horizontal-frame">
        <div class="vertical-frame">
          <input class="form-input counted-input" character-limit="200" type="text" name="request[project_title]" id="<%= input_id %>"
                value="<%= project_title %>" placeholder="Give your project a proper name for display throughout the Web Portal">
              </input>
          <div class="horizontal-frame error-and-count">
            <div class="input-error">
                <%= project_title_error %>
            </div>
            <div class="char-limit">
              <div id="project-title-char-limit" class="char-limit-text current-count">
                <%= project_title.size %>/200 characters
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>