<div class="form-field">
  <%= render partial: "/new_project_wizard/form_field_label",
           locals: {field_label: "Storage Needed", field_sub_label: "Required"} %>
  <div class="storage-frame">
    <div class="options-frame">
      <div class="quota-select">
        <div class="quota-option">
          <input type="radio" name="request[quota]" id="radio500gb"  Value="500 GB" class="quota-option" <%= "checked" if quota == "500 GB" %> tabindex="-1" ></input>
          <label for="radio500gb" focus="true" tabindex="0">500 GB</label>
        </div>
        <div class="quota-option">
          <input type="radio" name="request[quota]" id="radio2tb"  Value="2 TB" class="quota-option"  <%= "checked" if quota == "2 TB" %> tabindex="-1" ></input>
          <label for="radio2tb" focus="true" tabindex="0">2 TB</label>
        </div>
        <div class="quota-option">
          <input type="radio" name="request[quota]" id="radio10tb"  Value="10 TB" class="quota-option" <%= "checked" if quota == "10 TB" %> tabindex="-1"></input>
          <label for="radio10tb" focus="true" tabindex="0">10 TB</label>
        </div>
        <div class="quota-option">
          <input type="radio" name="request[quota]" id="radio25tb"  Value="25 TB" class="quota-option" <%= "checked" if quota == "25 TB" %> tabindex="-1" ></input>
          <label for="radio25tb" focus="true" tabindex="0">25 TB</label>
        </div>
      </div>
    </div>
    <div class="options-frame hidden-toggle">
      <div class="quota-select">
        <div class="quota-option">
          <input type="radio" name="request[quota]" id="radiocustom"  Value="custom" class="quota-option"  <%= "checked" if quota == "custom" %> tabindex="-1" ></input>
          <label for="radiocustom" focus="true" tabindex="0">Custom</label>
        </div>
      </div>

      <div class="hidden-div input-frame" <%= "hidden" if quota != "custom" %> >
        <div class="custom-quota">
          <div class="text-input number-input">
            <div class="horizontal-frame">
              <div class="vertical-frame">
                <input class="form-input" type="number" name="request[storage_size]" id="storage_size"
                      value="<%= storage_size %>" placeholder="Enter a value" min="0" step="1"></input>
                <div class="input-error">
                    <%= storage_size_error %>
                </div>
              </div>
            </div>
          </div>
          <div class="text-input number-input">
            <div class="horizontal-frame">
              <div class="vertical-frame">
                <select class="form-select" name="request[storage_unit]" id="storage_unit">
                  <option value="TB" <%= "selected" if storage_unit == "TB" %>>TB</option>
                  <option value="GB" <%= "selected" if storage_unit == "GB" %>>GB</option>
                </select>
                <div class="input-error">
                    <%= storage_unit_error %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-field">
  <%= render partial: "/new_project_wizard/form_field_label",
    locals: {field_label: "Estimated number of files", field_sub_label: ""} %>
  <div>
    <select name="request[number_files]" id="number_files">
      <option value="less10K" <%= @request_model.number_files == "less10K" ? "selected" : "" %> >Less than 10,000</option>
      <option value="10K" <%= @request_model.number_files == "10K" ? "selected" : "" %> >Between 10,000 and 100,000</option>
      <option value="100K" <%= @request_model.number_files == "100K" ? "selected" : "" %> >Betweek 100,000 and 1,000,000</option>
      <option value="1M" <%= @request_model.number_files == "1M" ? "selected" : "" %> >More than 1,000,000</option>
    </select>
    <br/>
    A rough estimate of the maximum file count for the project (this makes a difference for backend setup).
  </div>
</div>

<div class="form-field">
  <%= render partial: "/new_project_wizard/form_field_label",
    locals: {field_label: "Connection Options", field_sub_label: "Required"} %>

    <div>
      <p>Do you need to connect to High Performance Computing?</p>
      <p>Select 'Yes' if you are a Princeton Research Computing user and you expect to need access to this project from select HPC clusters.</p>
      <input type="radio" id="hpc_yes" name="request[hpc]" value="yes" <%= @request_model.hpc == "yes" ? "checked" : "" %> >
      <label for="hpc_yes">Yes</label><br>
      <input type="radio" id="hpc_no" name="request[hpc]" value="no" <%= @request_model.hpc == "no" ? "checked" : "" %> >
      <label for="hpc_no">No</label><br>
      <input type="radio" id="hpc_maybe" name="request[hpc]" value="maybe" <%= @request_model.hpc == "maybe" ? "checked" : "" %>>
      <label for="hpc_maybe">Maybe</label>
    </div>
</div>

<div class="form-field">
    <div>
      <p>Do you need a network file share?</p>
      <p>Select 'Yes' if anyone on the project will need to connect a personal computer or lab workstation (via SMB/CIFS).</p>
      <input type="radio" id="network_yes" name="request[network_share]" value="yes">
      <label for="network_yes">Yes</label><br>
      <input type="radio" id="network_no" name="request[network_share]" value="no" checked>
      <label for="network_no">No</label><br>
      <input type="radio" id="network_maybe" name="request[network_share]" value="maybe">
      <label for="network_maybe">Maybe</label>
    </div>
</div>

<div class="form-field">
    <div>
      <p>Do you need to enable Globus transfers?</p>
      <p>Select 'Yes' if the project will need its own Globus endpoint for high bandwidth data transfers.</p>
      <input type="radio" id="globus_yes" name="request[globus]" value="yes">
      <label for="globus_yes">Yes</label><br>
      <input type="radio" id="globus_no" name="request[globus]" value="no" checked>
      <label for="hpc_no">No</label><br>
      <input type="radio" id="globus_maybe" name="request[globus]" value="maybe">
      <label for="globus_maybe">Maybe</label>
    </div>
</div>
