  <div class="input-frame">
    <div class="text-input">
      <div class="horizontal-frame">
        <div class="vertical-frame">

          <div class="lux field" id="<%= field_name %>_input">
            <lux-input-async-select
              label="<%= field_name.titleize %>"
              hide-label="true"
              placeholder="Select a <%= field_name.titleize %>"
              :async-load-items-function="searchUsers"
              id="data-user-select-<%= field_name %>"
              :default-value="<%= {label: field_value, id: field_id_value}.to_json %>"
              >
              <template v-slot:hidden-input="{ selectedItem }">
                  <input type="hidden" name="request[<%= field_name %>]" class="selected_user" :value="selectedItem.id"></input>
              </template>
            </lux-input-async-select>
          </div>
          <div class="input-error">
               <%= field_error %>
          </div>
        </div>
      </div>
    </div>
  </div>
