<div class="form-field">
  <%= render partial: "/new_project_wizard/form_field_label",
           locals: {field_label: "Data User(s)", field_sub_label: "", tooltip: "Person(s) with access privileges to the project and its contents."} %>
  <div class="input-frame">
    <div class="user-input-display">
      <div class="user-table">
        <div class="user-heading row">
          <div class="user-cell cell"><div class="content"><div class="user-heading">User</div></div></div>
          <div class="cell"><div class="content"><div class="user-heading"></div>Read Only</div></div>
          <div class="cell"><div class="content"><div class="user-heading"></div>Read / Write</div></div>
          <div class="cell"><div class="content"><div class="user-heading"></div>Action</div></div>
        </div>
        <% if user_roles.count == 0 %>
          <div class="row">
              <div class="no-users"><div class="content"><div class="no-users-text">No Data User(s) added</div></div></div>
          </div>
        <% else %>
          <% user_roles.each do |user| %>
            <div class="row">
              <div class="user-cell cell"><div class="content"><div><%= user["name"] %></div></div></div>
              <div class="cell"><div class="content"><div class="user-heading"></div> <input type="radio" name="request[read_only_<%= user["uid"]%>]" value="true" <%= user["read_only"] || user["read_only"].nil? ? "checked" : "" %>></input></div></div>
              <div class="cell"><div class="content"><div class="user-heading"></div><input type="radio" name="request[read_only_<%= user["uid"]%>]" value="false" <%= !(user["read_only"] || user["read_only"].nil?) ? "checked" : "" %>></input></div></div>
              <div class="cell"><div class="content"><div class="user-heading"></div><div tabindex="0" class="remove-user-role-in-table remove-item"></div></div></div>
              <input type="hidden" name="request[user_roles][]" value="<%= user.to_json %>"> </input>
            </div>
          <% end %>
        <% end %>
      </div>
      <input type="hidden" id="request-departments" name="request[user_roles][]" value="" />
      <div class="user-info">
      </div>
      <span for="add-users" class="user-add-prompt">
        <input type="button" popovertarget="user-role" id="add-users" class="add-users" value="Add User(s)"></input>
      </span>
    </div>
    <div popover="auto" id="user-role"  class="user-role pul-popover">
      <div class="modal-content">
        <div class="modal-title-frame"> 
          <div class="model-title">Select User</div>
          <input type=button popovertarget="user-role" popovertargetaction="hide" class="pul-popover-close" data="cancel"></input>
        </div>
        <div class="text-input">
          <div class="horizontal-frame">
            <div class="vertical-frame">
              <div class="lux-field field data-users">
               <lux-input-multiselect
                label=""
                selected-items-label=""
                none-selected-label="No users selected"
                placeholder="Enter name or netid to search for a user"
                :async-load-items-function="searchUsers"
                >
                  <template #item="{itemProps}">
                    <div class="info">
                      <div class="item-text">{{ itemProps.label.substring(0,itemProps.label.indexOf("(")) }}</div>
                      <lux-badge class="badge">
                        <div class="badge-text">{{ itemProps.id }}</div>
                      </lux-badge>
                    </div>
                  </template>
                  <template v-slot:hidden-input="{ selectedItems }">
                    <input type="hidden" name="all_selected" class="all_selected" :value="JSON.stringify(selectedItems)"></input>
                  </template>
                </lux-input-multiselect>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-frame">
        <input type="button" popovertarget="user-role" popovertargetaction="hide" class="pul-button add-user-roles" value="Add Users"></input>
      </div>
    </div>
  </div>
</div>