<div class="form-field">
  <%= render partial: "/new_project_wizard/form_field_label",
           locals: {field_label: "Storage Needed", field_sub_label: "Required"} %>
  <div class="storage-frame">
    <div class="options-frame">
      <div class="quota-select">
        <div class="quota-option">
          <input type="radio" name="request[quota]" id="radio500gb"  Value="500 GB" class="quota-option" <%= "checked" if quota == "500 GB" %> tabindex="-1" ></input>
          <label for="radio500gb" focus="true" tabindex="0">500 GB</label>
        </div>
        <div class="quota-option">
          <input type="radio" name="request[quota]" id="radio2tb"  Value="2 TB" class="quota-option"  <%= "checked" if quota == "2 TB" %> tabindex="-1" ></input>
          <label for="radio2tb" focus="true" tabindex="0">2 TB</label>
        </div>
        <div class="quota-option">
          <input type="radio" name="request[quota]" id="radio10tb"  Value="10 TB" class="quota-option" <%= "checked" if quota == "10 TB" %> tabindex="-1"></input>
          <label for="radio10tb" focus="true" tabindex="0">10 TB</label>
        </div>
        <div class="quota-option">
          <input type="radio" name="request[quota]" id="radio25tb"  Value="25 TB" class="quota-option" <%= "checked" if quota == "25 TB" %> tabindex="-1" ></input>
          <label for="radio25tb" focus="true" tabindex="0">25 TB</label>
        </div>
      </div>
    </div>
    <div class="options-frame hidden-toggle">
      <div class="quota-select">
        <div class="quota-option">
          <input type="radio" name="request[quota]" id="radiocustom"  Value="custom" class="quota-option"  <%= "checked" if quota == "custom" %> tabindex="-1" ></input>
          <label for="radiocustom" focus="true" tabindex="0">Custom</label>
        </div>
      </div>

      <div class="hidden-div input-frame" <%= "hidden" if quota != "custom" %> >
        <div class="custom-quota">
          <div class="text-input number-input">
            <div class="horizontal-frame">
              <div class="vertical-frame">
                <input class="form-input" type="number" name="request[storage_size]" id="storage_size"
                      value="<%= storage_size %>" placeholder="Enter a value" min="0" step="1"></input>
                <div class="input-error">
                    <%= storage_size_error %>
                </div>
              </div>
            </div>
          </div>
          <div class="text-input number-input">
            <div class="horizontal-frame">
              <div class="vertical-frame">
                <select class="form-select" name="request[storage_unit]" id="storage_unit">
                  <option value="TB" <%= "selected" if storage_unit == "TB" %>>TB</option>
                  <option value="GB" <%= "selected" if storage_unit == "GB" %>>GB</option>
                </select>
                <div class="input-error">
                    <%= storage_unit_error %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="form-field">
    <div class="form-field-label-vertical-container">
        <div class="form-field-label-vertical-text">Estimated Number of Files</div>
    </div>
    <div style="form-field-element-vertical-container">
        <div class="estimated-files-dropdown">
            <div data-label?="false" data-state="Default" class="estimated-files-dropdown-subcontainer">
            <select name="request[number_of_files]" id="number_of_files" class="estimated-files-inline-subcontainer">
              <option class="storage-form-field-text" <%= @request_model.number_of_files == "Less than 10,000" ? "selected" : "" %> >Less than 10,000</option>
              <option class="storage-form-field-text"  <%= @request_model.number_of_files == "Between 10,000 and 100,000" ? "selected" : "" %> >Between 10,000 and 100,000</option>
              <option class="storage-form-field-text" <%= @request_model.number_of_files == "Between 100,000 and 1,000,000" ? "selected" : "" %> >Between 100,000 and 1,000,000</option>
              <option class="storage-form-field-text" <%= @request_model.number_of_files == "More than 1,000,000" ? "selected" : "" %> >More than 1,000,000</option>
            </select>
            </div>
        </div>
        <div class="storage-tooltip">A rough estimate of the maximum file count for the project (this makes a difference for backend setup).</div>
    </div>
</div>

<div class="form-field">
    <%= render partial: "/new_project_wizard/form_field_label",
    locals: {field_label: "Connection Options", field_sub_label: "Required"} %>

    <div style="flex: 1 1 0" class="form-field-element-vertical-container">
        <div class="storage-type-options">
            <div class="storage-type-option-container">
                <div class="connection-options-text-container">
                    <div class="connection-options-text">Do you need to connect to High Performance Computing?</div>
                    <div style="align-self: stretch"><span class="storage-tooltip">Select 'Yes' if you are a Princeton Research Computing user and you expect to need access to this project from </span><span style="color: var(--Neutral-Dark-Gray, #717171); font-size: 14px; font-family: Libre Franklin; font-weight: 400; text-decoration: underline; line-height: 21px; word-wrap: break-word">select HPC clusters</span><span class="storage-tooltip">.</span></div>
                </div>
                <div data-selection="Default" class="connection-options-radio-buttons-container-container">
                    <div class="storage-options-section">
                        <div class="storage-option-radio-button-container">
                            <label for="hpc_yes" class="storage-form-field-text">Yes</label>
                            <div data-state="Default" class="storage-option-radio-button">
                              <input type="radio" id="hpc_yes" name="request[hpc]" value="yes" <%= @request_model.hpc == "yes" ? "checked" : "" %> >
                            </div>
                        </div>
                        <div class="storage-option-radio-button-container">
                            <label for="hpc_no" class="storage-form-field-text">No</label>
                            <div data-state="Default" class="storage-option-radio-button">
                              <input type="radio" id="hpc_no" name="request[hpc]" value="no" <%= @request_model.hpc == "no" ? "checked" : "" %> >                            
                            </div>
                          </div>
                        <div class="storage-option-radio-button-container">
                            <label for="hpc_maybe" class="storage-form-field-text">Maybe</label>
                            <div data-state="Default" class="storage-option-radio-button">
                                <input type="radio" id="hpc_maybe" name="request[hpc]" value="maybe" <%= @request_model.hpc == "maybe" ? "checked" : "" %>>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="storage-type-option-container">
                <div class="connection-options-text-container">
                    <div class="connection-options-text">Do you need a network file share?</div>
                    <div style="align-self: stretch;" class="storage-tooltip">Select 'Yes' if anyone on the project will need to connect a personal computer or lab workstation (via SMB/CIFS).</div>
                </div>
                <div data-selection="Default" class="connection-options-radio-buttons-container-container">
                    <div class="storage-options-section">
                        <div class="storage-option-radio-button-container">
                            <label for="network_yes" class="storage-form-field-text">Yes</label>
                            <div data-state="Default" class="storage-option-radio-button">
                                <input type="radio" id="network_yes" name="request[smb]" value="yes" <%= @request_model.smb == "yes" ? "checked" : "" %> >
                            </div>
                        </div>
                        <div class="storage-option-radio-button-container">
                            <label for="network_no" class="storage-form-field-text">No</label>
                            <div data-state="Default" class="storage-option-radio-button">
                                <input type="radio" id="network_no" name="request[smb]" value="no" <%= @request_model.smb == "no" ? "checked" : "" %> >
                            </div>
                        </div>
                        <div class="storage-option-radio-button-container">
                            <label for="network_maybe" class="storage-form-field-text">Maybe</label>
                            <div data-state="Default" class="storage-option-radio-button">
                                <input type="radio" id="network_maybe" name="request[smb]" value="maybe" <%= @request_model.smb == "maybe" ? "checked" : "" %> >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="storage-type-option-container">
                <div class="connection-options-text-container">
                    <div class="connection-options-text">Do you need to enable Globus transfers?</div>
                    <div style="align-self: stretch"><span class="storage-tooltip">Select 'Yes' if the project will need its own </span><span style="color: var(--Neutral-Dark-Gray, #717171); font-size: 14px; font-family: Libre Franklin; font-weight: 400; text-decoration: underline; line-height: 21px; word-wrap: break-word">Globus</span><span class="storage-tooltip"> endpoint for high bandwidth data transfers.</span></div>
                </div>
                <div data-selection="Default" class="connection-options-radio-buttons-container-container">
                    <div class="storage-options-section">
                        <div class="storage-option-radio-button-container">
                            <label for="globus_yes" class="storage-form-field-text">Yes</label>
                            <div data-state="Default" class="storage-option-radio-button">
                              <input type="radio" id="globus_yes" name="request[globus]" value="yes" <%= @request_model.globus == "yes" ? "checked" : "" %> >
                            </div>
                        </div>
                        <div class="storage-option-radio-button-container">
                            <label for="globus_no" class="storage-form-field-text">No</label>
                            <div data-state="Default" class="storage-option-radio-button">
                              <input type="radio" id="globus_no" name="request[globus]" value="no" <%= @request_model.globus == "no" ? "checked" : "" %> >
                            </div>
                        </div>
                        <div class="storage-option-radio-button-container">
                            <label for="globus_maybe" class="storage-form-field-text">Maybe</label>
                            <div data-state="Default" class="storage-option-radio-button">
                              <input type="radio" id="globus_maybe" name="request[globus]" value="maybe" <%= @request_model.globus == "maybe" ? "checked" : "" %> >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
