<h2>Additional Information: Project Permissions</h2>
<%= form_with(url: new_project_additional_information_project_permissions_save_path(@request_model), model: @request_model, action: :save, method: :put) do |form| %>
  <%= render partial: '/new_project_wizard/sidebar', locals: {form:} %>

  <%= @request_model.id %>
  <div>
    <%= form.label :project_title %>
    <%= form.text_field :project_title %>
  </div>
  <%= render partial: '/new_project_wizard/navigation', locals: {form:} %>
<% end %>
