<h2>Project Information: Basic</h2>
<%= form_with(url: new_project_project_info_save_path(@request_model), model: @request_model, action: :save, method: :put) do |form| %>
  <%= @request_model.id %>
  <div>
    <div class="form-field-container">
      <%= form.label :title %>
      <%= form.text_field :request_title, class: "required-field", required: true, placeholder: "required" %>
    </div>
    
    <div class="form-field-container">
      <%= form.label :title %>
      <%= form.text_field :request_title, class: "optional-field", placeholder: "optional" %>
    </div>
  
    <div class="form-field-container">
      <%= form.label :title %>
      <%= form.text_field :request_title, class: "disabled-field", disabled: true, placeholder: "disabled" %>
    </div>
    
    <div class="form-field-container error-field-container">
      <%= form.label :title %>
      <%= form.text_field :request_title, class: "error-field", placeholder: "error"%>
      <div class="error-field-message">Error message</div>
    </div>
  </div>
  <%= render partial: '/new_project_wizard/navigation', locals: {form:} %>
<% end %>
