<% content_for :title, "New Project Request" %>
<% content_for :form_title, "Basic Details" %>
<% content_for :form_description, "Tell us a little about your project! These details are important for setting up and organizing your project." %>
<div class="lux">
    <%= render partial: "/new_project_wizard/form_project_title_input", locals: {project_title: @new_project_request.project_title || "", project_title_error: "", input_id: "project_title" } %>
    <%= render partial: "/new_project_wizard/form_project_path_input", locals: {project_folder: @new_project_request.project_folder || "", project_folder_error: [],
                                                                                parent_folder: @new_project_request.parent_folder || "", parent_folder_error: []} %>
    <%= render partial: "/new_project_wizard/form_project_purpose_input", locals: {project_purpose: @new_project_request.project_purpose || "", project_purpose_error: "" } %>
    <%= render partial: "/new_project_wizard/form_project_description_input", locals: {description: @new_project_request.description || "", description_error: "" } %>
    <%= render partial: "/new_project_wizard/form_department_input", locals: {departments: @new_project_request.departments || [], department_error: "" } %>
</div>