<% content_for :title, "Storage and Access" %>
<%= render partial: '/new_project_wizard/wizard_navigation' %>
<%= form_with(url: new_project_storage_and_access_save_path(@request_model), model: @request_model, 
              action: :save, method: :put, class: "form-panel") do |form| %>
  <div class="scrollable-frame">
    <div class="form-header">
    </div>
    <div class="form-frame">
      <%= form.label :project_title %>
      <%= form.text_field :project_title %>
    </div>
  </div>
  <div class="button-frame">
      <%= render partial: '/new_project_wizard/navigation', locals: {form:} %>
  </div>
<% end %>  
