      <div class="heading-frame">
        <div class="heading-text">
          Edit Submitted Request
        </div>
        <div class="deco-line"></div>
      </div>
      <div class="main-frame">
        <%= form_with(url: edit_new_project_request_url(@new_project_request.id), model: @new_project_request, 
                      action: :save, method: :put, class: "form-panel") do |form| %>
          <div class="scrollable-frame">
            <div class="form-header">
              <div class="form-title">
                <div class="form-text">
                  <%= @new_project_request.project_title %>
                </div>
              </div>
              <div class="form-description">
                Allow an administrator to edit a request before approving it
              </div> 
            </div>
            <div class="form-frame">
              <%= render '/new_project_wizard/review_and_submit_form' %>
            </div>
          </div>
          <div class="button-frame">
            <%= link_to "Cancel", request_url(@new_project_request), class: "button cancel" %>
            <%= form.submit "Save", class: "button" %>
          </div>
        <% end %>
      </div>
    </div>
