<!DOCTYPE html>
<html lang="en">

<%= render partial: 'shared/layout_head' %>

  <body class="d-flex flex-column min-vh-100">
    <%= render partial: 'shared/alternate_mediaflux' %>
    <%= render partial: 'shared/banner' %>
    <%= render partial: 'shared/emulator' %>
    <%= render partial: 'shared/header' %>
    


<div class="container-fluid">
  <div class="row main-content">
    <div class="col-12 center-column">
      <% if flash[:notice] or flash[:alert] %>
        <div class="row">
          <div class="col-12">
            <%= render partial: 'shared/alert' %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <%= render partial: 'shared/breadcrumbs' %>
          <%= yield %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer' %>
  </body>
</html>
