<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TigerData</title>
    <%= favicon_link_tag asset_path('tiger-head.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= action_cable_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <script src="//code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Load our local Autocomplete plug-in which is a copy of https://github.com/devbridge/jQuery-Autocomplete -->
    <script src="<%= root_path + 'jquery.autocomplete.js' %>"></script>

    <% if Rails.env.development? || Rails.env.staging? %>
      <%= render 'shared/plausible_dev_staging' %>
    <% elsif Rails.env.production? %>
      <%= render 'shared/plausible' %>
    <% end %>

  </head>

  <body>
    <%= render partial: 'shared/alternate_mediaflux' %>
    <%= render partial: 'shared/banner' %>
    <%= render partial: 'shared/header' %>
    <%= render partial: 'shared/emulator' %>


<div class="container-fluid main-content">
  <div class="row">
    <div class="col-1 gutter"></div>

    <div class="col-10 center-column">
      <% if flash[:notice] or flash[:alert] %>
        <div class="row">
          <div class="col">
            <div class="alert alert-primary" role="alert" ><%= flash[:notice] %></div>
            <div class="alert alert-warning" role="alert"><%= flash[:alert] %></div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col">
        <%= render partial: 'shared/breadcrumbs' %>
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="col-1 gutter"></div>
  </div>
</div>

<%= render partial: 'shared/footer' %>
<script>
  $(document).ready(function (){
    $('#dropdownMenuButton').click(function () {
      $('.dropdown-toggle').dropdown('toggle');
    });
  });
</script>
  </body>
</html>
